<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Animal Companions</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				
				<h1 id="animal-companions">Animal Companions</h1>
				<p>Druids and rangers have a wide selection of animal companion choices, but this selection by no means covers the entirety of animals available as companions. Numerous additional animals are presented in this list, and in each case, rules for using them as companions are included.</p>
				<h2 id="animal-companions">Animal Companions</h2>
				
				<p><a href="../monsters/dinosaur.html#dinosaur-ankylosaurus">Dinosaur, Ankylosaurus</a></p>
				<p><a href="../monsters/herdAnimal.html#herd-animal-aurochs">Aurochs</a></p>
				<p><a href="../monsters/herdAnimal.html#herd-animal-bison">Bison</a></p>
				<p><a href="../monsters/dinosaur.html#dinosaur-brachiosaurus">Brachiosaurus</a></p>
				<p><a href="../monsters/bat.html#bat-dire">Dire bat</a></p>
				<p><a href="../monsters/rat.html#rat-dire">Dire rat</a></p>
				<p><a href="../monsters/dolphin.html#dolphin">Dolphin</a></p>
				<p><a href="../monsters/dinosaur.html#dinosaur-elasmosaurus">Elasmosaurus</a></p>
				<p><a href="../monsters/eel.html#eel-electric">Electric eel</a></p>
				<p><a href="../monsters/elephant.html#elephant">Elephant</a></p>
				<p><a href="../monsters/frog.html#frog-giant">Giant frog</a></p>
				<p><a href="../monsters/eel.html#eel-giant-moray">Giant moray eel</a></p>
				<p><a href="../monsters/goblinDog.html#goblin-dog">Goblin dog</a></p>
				<p><a href="../monsters/hyena.html#hyena">Hyena</a></p>
				<p><a href="../monsters/lizard.html#lizard-monitor">Monitor lizard</a></p>
				<p><a href="../monsters/octopus.html#octopus">Octopus</a></p>
				<p><a href="../monsters/dolphin.html#dolphin-orca">Orca</a></p>
				<p><a href="../monsters/dinosaur.html#dinosaur-pteranodon">Pteranodon</a></p>
				<p><a href="../monsters/rhinoceros.html#rhinoceros">Rhinoceros</a></p>
				<p><a href="../monsters/roc.html#roc">Roc</a></p>
				<p><a href="../monsters/squid.html#squid">Squid</a></p>
				<p><a href="../monsters/dinosaur.html#dinosaur-stegosaurus">Stegosaurus</a></p>
				<p><a href="../monsters/dinosaur.html#dinosaur-triceratops">Triceratops</a></p>
				<p><a href="../monsters/dinosaur.html#dinosaur-tyrannosaurus">Tyrannosaurus</a></p>        </div>            </body>
</html>