<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Monster Index</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body"><h1>Monster Index</h1><p class="shortcutBar"><a href="#index-monsters-A">A</a> <a href="#index-monsters-B">B</a> <a href="#index-monsters-C">C</a> <a href="#index-monsters-D">D</a> <a href="#index-monsters-E">E</a> <a href="#index-monsters-F">F</a> <a href="#index-monsters-G">G</a> <a href="#index-monsters-H">H</a> <a href="#index-monsters-I">I</a> <a href="../spells/causeFear.html#cause-fear">J</a> <a href="#index-monsters-K">K</a> <a href="#index-monsters-L">L</a> <a href="#index-monsters-M">M</a> <a href="#index-monsters-N">N</a> <a href="#index-monsters-O">O</a> <a href="#index-monsters-P">P</a> <a href="#index-monsters-R">R</a> <a href="#index-monsters-S">S</a> <a href="#index-monsters-T">T</a> <a href="#index-monsters-U">U</a> <a href="#index-monsters-V">V</a> <a href="#index-monsters-W">W</a> <a href="#index-monsters-X">X</a> <a href="#index-monsters-Y">Y</a> <a href="#index-monsters-Z">Z</a></p><div id="monster-index-wrapper" class="index">
<li><h2>Monsters (A)</h2><ul id="index-monsters-A" title="A Monsters">
<li><a href="aasimar.html#aasimar">Aasimar</a></li>
<li><a href="aboleth.html#aboleth">Aboleth</a></li>
<li><a href="angel.html#angel">Angel</a></li>
<li>&nbsp;&nbsp;<a href="angel.html#angel-astral-deva">Angel, Astral Deva</a></li>
<li>&nbsp;&nbsp;<a href="angel.html#angel-planetar">Angel, Planetar</a></li>
<li>&nbsp;&nbsp;<a href="angel.html#angel-solar">Angel, Solar</a></li>
<li><a href="animatedObject.html#animated-object">Animated Object</a></li>
<li><a href="ankheg.html#ankheg">Ankheg</a></li>
<li><a href="ant.html#ant-giant">Ant, Giant</a></li>
<li><a href="ant.html#army-ant-swarm">Army Ant Swarm</a></li>
<li><a href="ape.html">Ape</a></li>
<li>&nbsp;&nbsp;<a href="ape.html#ape-dire">Ape, Dire</a></li>
<li>&nbsp;&nbsp;<a href="ape.html#ape-gorilla">Ape, Gorilla</a></li>
<li><a href="archon.html#archon">Archon</a></li>
<li>&nbsp;&nbsp;<a href="archon.html#archon-hound">Archon, Hound</a></li>
<li>&nbsp;&nbsp;<a href="archon.html#archon-lantern">Archon, Lantern</a></li>
<li>&nbsp;&nbsp;<a href="archon.html#archon-trumpet">Archon, Trumpet</a></li>
<li><a href="assassinVine.html#assassin-vine">Assassin Vine</a></li>
<li><a href="azata.html#azata">Azata</a></li>
<li>&nbsp;&nbsp;<a href="azata.html#azata-bralani">Azata, Bralani</a></li>
<li>&nbsp;&nbsp;<a href="azata.html#azata-ghaele">Azata, Ghaele</a></li>
<li>&nbsp;&nbsp;<a href="azata.html#azata-lillend">Azata, Lillend</a></li>
</ul></li>
<li><h2>Monsters (B)</h2><ul id="index-monsters-B" title="B Monsters">
<li><a href="barghest.html#barghest">Barghest</a></li>
<li><a href="basidirond.html#basidirond">Basidirond</a></li>
<li><a href="basilisk.html#basilisk">Basilisk</a></li>
<li><a href="bat.html">Bat</a></li>
<li>&nbsp;&nbsp;<a href="bat.html#bat-swarm">Bat Swarm</a></li>
<li>&nbsp;&nbsp;<a href="bat.html#bat-dire">Bat, Dire</a></li>
<li><a href="bear.html">Bear</a></li>
<li>&nbsp;&nbsp;<a href="bear.html#bear-dire">Bear, Dire</a></li>
<li>&nbsp;&nbsp;<a href="bear.html#bear-grizzly">Bear, Grizzly</a></li>
<li><a href="bebilith.html#bebilith">Bebilith</a></li>
<li><a href="beetle.html">Beetle</a></li>
<li>&nbsp;&nbsp;<a href="beetle.html#beetle-fire">Beetle, Fire</a></li>
<li>&nbsp;&nbsp;<a href="beetle.html#beetle-giant">Beetle, Giant Stag</a></li>
<li><a href="behir.html#behir">Behir</a></li>
<li><a href="blackPudding.html#black-pudding">Black Pudding</a></li>
<li><a href="boar.html#boar">Boar</a></li>
<li>&nbsp;&nbsp;<a href="boar.html#boar-dire">Boar, Dire</a></li>
<li><a href="boggard.html#boggard">Boggard</a></li>
<li><a href="bugbear.html#bugbear">Bugbear</a></li>
<li><a href="bulette.html#bulette">Bulette</a></li>
</ul></li>
<li><h2>Monsters (C)</h2><ul id="index-monsters-C" title="C Monsters">
<li><a href="cat.html">Cat</a></li>
<li>&nbsp;&nbsp;<a href="cat.html#cat-cheetah">Cat, Cheetah</a></li>
<li>&nbsp;&nbsp;<a href="cat.html#cat-leopard">Cat, Leopard</a></li>
<li><a href="caveFisher.html#cave-fisher">Cave Fisher</a></li>
<li><a href="centaur.html#centaur">Centaur</a></li>
<li><a href="centipede.html">Centipede</a></li>
<li>&nbsp;&nbsp;<a href="centipede.html#centipede-swarm">Centipede Swarm</a></li>
<li>&nbsp;&nbsp;<a href="centipede.html#centipede-giant">Centipede, Giant</a></li>
<li><a href="chimera.html#chimera">Chimera</a></li>
<li><a href="choker.html#choker">Choker</a></li>
<li><a href="chuul.html#chuul">Chuul</a></li>
<li><a href="cloaker.html#cloaker">Cloaker</a></li>
<li><a href="cockatrice.html#cockatrice">Cockatrice</a></li>
<li><a href="couatl.html#couatl">Couatl</a></li>
<li><a href="crab.html">Crab</a></li>
<li>&nbsp;&nbsp;<a href="crab.html#crab-swarm">Crab Swarm</a></li>
<li>&nbsp;&nbsp;<a href="crab.html#crab-giant">Crab, Giant</a></li>
<li><a href="crocodile.html#crocodile">Crocodile</a></li>
<li>&nbsp;&nbsp;<a href="crocodile.html#crocodile-dire">Crocodile, Dire</a></li>
<li><a href="cyclops.html#cyclops">Cyclops</a></li>
</ul></li>
<li><h2>Monsters (D)</h2><ul id="index-monsters-D" title="D Monsters">
<li><a href="darkCreeper.html#dark-creeper">Dark Creeper</a></li>
<li><a href="darkStalker.html#dark-stalker">Dark Stalker</a></li>
<li><a href="darkmantle.html#darkmantle">Darkmantle</a></li>
<li><a href="demon.html">Demon</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-babau">Demon, Babau</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-balor">Demon, Balor</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-dretch">Demon, Dretch</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-glabrezu">Demon, Glabrezu</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-hezrou">Demon, Hezrou</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-marilith">Demon, Marilith</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-nabasu">Demon, Nabasu</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-nalfeshnee">Demon, Nalfeshnee</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-quasit">Demon, Quasit</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-shadow">Demon, Shadow</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-succubus">Demon, Succubus</a></li>
<li>&nbsp;&nbsp;<a href="demon.html#demon-vrock">Demon, Vrock</a></li>
<li><a href="derro.html#derro">Derro</a></li>
<li><a href="devil.html#devil">Devil</a></li>
<li>&nbsp;&nbsp;<a href="devil.html#devil-barbed">Devil, Barbed</a></li>
<li>&nbsp;&nbsp;<a href="devil.html#devil-bearded">Devil, Bearded</a></li>
<li>&nbsp;&nbsp;<a href="devil.html#devil-bone">Devil, Bone</a></li>
<li>&nbsp;&nbsp;<a href="devil.html#devil-erinyes">Devil, Erinyes</a></li>
<li>&nbsp;&nbsp;<a href="devil.html#devil-horned">Devil, Horned</a></li>
<li>&nbsp;&nbsp;<a href="devil.html#devil-ice">Devil, Ice</a></li>
<li>&nbsp;&nbsp;<a href="devil.html#devil-imp">Devil, Imp</a></li>
<li>&nbsp;&nbsp;<a href="devil.html#devil-lemure">Devil, Lemure</a></li>
<li>&nbsp;&nbsp;<a href="devil.html#devil-pit-fiend">Devil, Pit Fiend</a></li>
<li><a href="devourer.html#devourer">Devourer</a></li>
<li><a href="dinosaur.html">Dinosaur</a></li>
<li>&nbsp;&nbsp;<a href="dinosaur.html#dinosaur-ankylosaurus">Dinosaur, Ankylosaurus</a></li>
<li>&nbsp;&nbsp;<a href="dinosaur.html#dinosaur-brachiosaurus">Dinosaur, Brachiosaurus</a></li>
<li>&nbsp;&nbsp;<a href="dinosaur.html#dinosaur-deinonychus">Dinosaur, Deinonychus</a></li>
<li>&nbsp;&nbsp;<a href="dinosaur.html#dinosaur-elasmosaurus">Dinosaur, Elasmosaurus</a></li>
<li>&nbsp;&nbsp;<a href="dinosaur.html#dinosaur-pteranodon">Dinosaur, Pteranodon</a></li>
<li>&nbsp;&nbsp;<a href="dinosaur.html#dinosaur-stegosaurus">Dinosaur, Stegosaurus</a></li>
<li>&nbsp;&nbsp;<a href="dinosaur.html#dinosaur-triceratops">Dinosaur, Triceratops</a></li>
<li>&nbsp;&nbsp;<a href="dinosaur.html#dinosaur-tyrannosaurus">Dinosaur, Tyrannosaurus</a></li>
<li><a href="dog.html#dog">Dog</a></li>
<li>&nbsp;&nbsp;<a href="dog.html#dog-riding">Dog, Riding</a></li>
<li><a href="dolphin.html#dolphin">Dolphin</a></li>
<li>&nbsp;&nbsp;<a href="dolphin.html#dolphin-orca">Dolphin, Orca</a></li>
<li><a href="doppelganger.html#doppelganger">Doppelganger</a></li>
<li><a href="dragon.html#dragon">Dragon</a></li>
<li>&nbsp;&nbsp;<a href="dragon.html#chromatic-dragon-black">Chromatic Dragon, Black</a></li>
<li>&nbsp;&nbsp;<a href="dragon.html#chromatic-dragon-blue">Chromatic Dragon, Blue</a></li>
<li>&nbsp;&nbsp;<a href="dragon.html#chromatic-dragon-green">Chromatic Dragon, Green</a></li>
<li>&nbsp;&nbsp;<a href="dragon.html#chromatic-dragon-red">Chromatic Dragon, Red</a></li>
<li>&nbsp;&nbsp;<a href="dragon.html#chromatic-dragon-white">Chromatic Dragon, White</a></li>
<li>&nbsp;&nbsp;<a href="dragon.html#metallic-dragon-brass">Metallic Dragon, Brass</a></li>
<li>&nbsp;&nbsp;<a href="dragon.html#metallic-dragon-bronze">Metallic Dragon, Bronze</a></li>
<li>&nbsp;&nbsp;<a href="dragon.html#metallic-dragon-copper">Metallic Dragon, Copper</a></li>
<li>&nbsp;&nbsp;<a href="dragon.html#metallic-dragon-gold">Metallic Dragon, Gold</a></li>
<li>&nbsp;&nbsp;<a href="dragon.html#metallic-dragon-silver">Metallic Dragon, Silver</a></li>
<li><a href="dragonTurtle.html#dragon-turtle">Dragon Turtle</a></li>
<li><a href="drider.html#drider">Drider</a></li>
<li><a href="drow.html#drow">Drow</a></li>
<li><a href="dryad.html#dryad">Dryad</a></li>
<li><a href="duergar.html#duergar">Duergar</a></li>
</ul></li>
<li><h2>Monsters (E)</h2><ul id="index-monsters-E" title="E Monsters">
<li><a href="eagle.html#eagle">Eagle</a></li>
<li>&nbsp;&nbsp;<a href="eagle.html#eagle-giant">Eagle, Giant</a></li>
<li><a href="eel.html">Eel</a></li>
<li>&nbsp;&nbsp;<a href="eel.html#eel-electric">Eel, Electric</a></li>
<li>&nbsp;&nbsp;<a href="eel.html#eel-giant-moray">Eel, Giant Moray</a></li>
<li><a href="elemental.html">Elemental</a></li>
<li>&nbsp;&nbsp;<a href="elemental.html#elemental-air">Elemental, Air</a></li>
<li>&nbsp;&nbsp;<a href="elemental.html#elemental-earth">Elemental, Earth</a></li>
<li>&nbsp;&nbsp;<a href="elemental.html#elemental-fire">Elemental, Fire</a></li>
<li>&nbsp;&nbsp;<a href="elemental.html#elemental-water">Elemental, Water</a></li>
<li>&nbsp;&nbsp;<a href="elephant.html#elephant">Elephant</a></li>
<li>&nbsp;&nbsp;<a href="elephant.html#elephant-mastodon">Elephant, Mastodon</a></li>
<li><a href="ettercap.html#ettercap">Ettercap</a></li>
<li><a href="ettin.html#ettin">Ettin</a></li>
</ul></li>
<li><h2>Monsters (F)</h2><ul id="index-monsters-F" title="F Monsters">
<li><a href="familiar.html#familiar">Familiar</a></li>
<li><a href="flytrap.html#flytrap-giant">Flytrap, Giant</a></li>
<li><a href="frog.html">Frog</a></li>
<li>&nbsp;&nbsp;<a href="frog.html#frog-giant">Frog, Giant</a></li>
<li>&nbsp;&nbsp;<a href="frog.html#frog-poison">Frog, Poison</a></li>
<li><a href="froghemoth.html#froghemoth">Froghemoth</a></li>
</ul></li>
<li><h2>Monsters (G)</h2><ul id="index-monsters-G" title="G Monsters">
<li><a href="gargoyle.html#gargoyle">Gargoyle</a></li>
<li><a href="gelatinousCube.html#gelatinous-cube">Gelatinous Cube</a></li>
<li><a href="genie.html">Genie</a></li>
<li>&nbsp;&nbsp;<a href="genie.html#genie-djinni">Genie, Djinni</a></li>
<li>&nbsp;&nbsp;<a href="genie.html#genie-efreeti">Genie, Efreeti</a></li>
<li>&nbsp;&nbsp;<a href="genie.html#genie-janni">Genie, Janni</a></li>
<li>&nbsp;&nbsp;<a href="genie.html#genie-marid">Genie, Marid</a></li>
<li>&nbsp;&nbsp;<a href="genie.html#genie-shaitan">Genie, Shaitan</a></li>
<li><a href="ghost.html#ghost">Ghost</a></li>
<li><a href="ghoul.html#ghoul">Ghoul</a></li>
<li><a href="giant.html">Giant</a></li>
<li>&nbsp;&nbsp;<a href="giant.html#giant-cloud">Giant, Cloud</a></li>
<li>&nbsp;&nbsp;<a href="giant.html#giant-fire">Giant, Fire</a></li>
<li>&nbsp;&nbsp;<a href="giant.html#giant-frost">Giant, Frost</a></li>
<li>&nbsp;&nbsp;<a href="giant.html#giant-hill">Giant, Hill</a></li>
<li>&nbsp;&nbsp;<a href="giant.html#giant-stone">Giant, Stone</a></li>
<li>&nbsp;&nbsp;<a href="giant.html#giant-storm">Giant, Storm</a></li>
<li><a href="gibberingMouther.html#gibbering-mouther">Gibbering Mouther</a></li>
<li><a href="girallon.html#girallon">Girallon</a></li>
<li><a href="gnoll.html#gnoll">Gnoll</a></li>
<li><a href="goblin.html#goblin">Goblin</a></li>
<li><a href="goblinDog.html#goblin-dog">Goblin Dog</a></li>
<li><a href="golem.html#golem">Golem</a></li>
<li>&nbsp;&nbsp;<a href="golem.html#golem-clay">Golem, Clay</a></li>
<li>&nbsp;&nbsp;<a href="golem.html#golem-flesh">Golem, Flesh</a></li>
<li>&nbsp;&nbsp;<a href="golem.html#golem-ice">Golem, Ice</a></li>
<li>&nbsp;&nbsp;<a href="golem.html#golem-iron">Golem, Iron</a></li>
<li>&nbsp;&nbsp;<a href="golem.html#golem-stone">Golem, Stone</a></li>
<li>&nbsp;&nbsp;<a href="golem.html#golem-wood">Golem, Wood</a></li>
<li><a href="gorgon.html#gorgon">Gorgon</a></li>
<li><a href="grayOoze.html#gray-ooze">Gray Ooze</a></li>
<li><a href="greenHag.html#green-hag">Green Hag</a></li>
<li><a href="griffon.html#griffon">Griffon</a></li>
</ul></li>
<li><h2>Monsters (H)</h2><ul id="index-monsters-H" title="H Monsters">
<li><a href="halfCelestial.html#half-celestial">Half-Celestial</a></li>
<li><a href="halfDragon.html#half-dragon">Half-Dragon</a></li>
<li><a href="halfFiend.html#half-fiend">Half-Fiend</a></li>
<li><a href="harpy.html#harpy">Harpy</a></li>
<li><a href="hellHound.html#hell-hound">Hell Hound</a></li>
<li>&nbsp;&nbsp;<a href="hellHound.html#hell-hound-nessian">Hell Hound, Nessian</a></li>
<li><a href="herdAnimal.html">Herd Animal</a></li>
<li>&nbsp;&nbsp;<a href="herdAnimal.html#herd-animal-aurochs">Herd Animal, Aurochs</a></li>
<li>&nbsp;&nbsp;<a href="herdAnimal.html#herd-animal-bison">Herd Animal, Bison</a></li>
<li><a href="hobgoblin.html#hobgoblin">Hobgoblin</a></li>
<li><a href="homunculus.html#homunculus">Homunculus</a></li>
<li><a href="horse.html#horse">Horse</a></li>
<li>&nbsp;&nbsp;<a href="horse.html#horse-pony">Horse, Pony</a></li>
<li><a href="hydra.html#hydra">Hydra</a></li>
<li><a href="hyena.html#hyena">Hyena</a></li>
<li>&nbsp;&nbsp;<a href="hyena.html#hyena-dire">Hyena, Dire</a></li>
</ul></li>
<li><h2>Monsters (I)</h2><ul id="index-monsters-I" title="I Monsters">
<li><a href="intellectDevourer.html#intellect-devourer">Intellect Devourer</a></li>
<li><a href="invisibleStalker.html#invisible-stalker">Invisible Stalker</a></li>
<li><a href="ironCobra.html#iron-cobra">Iron Cobra</a></li>
</ul></li>
<li><h2>Monsters (K)</h2><ul id="index-monsters-K" title="K Monsters">
<li><a href="kobold.html#kobold">Kobold</a></li>
<li><a href="kraken.html#kraken">Kraken</a></li>
<li><a href="kyton.html#kyton">Kyton</a></li>
</ul></li>
<li><h2>Monsters (L)</h2><ul id="index-monsters-L" title="L Monsters">
<li><a href="lamia.html#lamia">Lamia</a></li>
<li><a href="leech.html">Leech</a></li>
<li>&nbsp;&nbsp;<a href="leech.html#leech-swarm">Leech Swarm</a></li>
<li>&nbsp;&nbsp;<a href="leech.html#leech-giant">Leech, Giant</a></li>
<li><a href="lich.html#lich">Lich</a></li>
<li><a href="linnorm.html">Linnorm</a></li>
<li>&nbsp;&nbsp;<a href="linnorm.html#linnorm-crag">Linnorm, Crag</a></li>
<li>&nbsp;&nbsp;<a href="linnorm.html#linnorm-ice">Linnorm, Ice</a></li>
<li>&nbsp;&nbsp;<a href="linnorm.html#linnorm-tarn">Linnorm, Tarn</a></li>
<li><a href="lion.html#lion">Lion</a></li>
<li>&nbsp;&nbsp;<a href="lion.html#lion-dire">Lion, Dire</a></li>
<li><a href="lizard.html">Lizard</a></li>
<li>&nbsp;&nbsp;<a href="lizard.html#lizard-giant-frilled">Lizard, Giant Frilled</a></li>
<li>&nbsp;&nbsp;<a href="lizard.html#lizard-monitor">Lizard, Monitor</a></li>
<li><a href="lizardfolk.html#lizardfolk">Lizardfolk</a></li>
<li><a href="lycanthrope.html#lycanthrope">Lycanthrope</a></li>
<li>&nbsp;&nbsp;<a href="lycanthrope.html#lycanthrope-wererat">Lycanthrope, Wererat</a></li>
<li>&nbsp;&nbsp;<a href="lycanthrope.html#lycanthrope-werewolf">Lycanthrope, Werewolf</a></li>
</ul></li>
<li><h2>Monsters (M)</h2><ul id="index-monsters-M" title="M Monsters">
<li><a href="manticore.html#manticore">Manticore</a></li>
<li><a href="mantis.html#mantis-giant">Mantis, Giant</a></li>
<li><a href="medusa.html#medusa">Medusa</a></li>
<li><a href="mephit.html#mephit">Mephit</a></li>
<li><a href="merfolk.html#merfolk">Merfolk</a></li>
<li><a href="mimic.html#mimic">Mimic</a></li>
<li><a href="minotaur.html#minotaur">Minotaur</a></li>
<li><a href="mite.html#mite">Mite</a></li>
<li><a href="mohrg.html#mohrg">Mohrg</a></li>
<li><a href="morlock.html#morlock">Morlock</a></li>
<li><a href="mummy.html#mummy">Mummy</a></li>
</ul></li>
<li><h2>Monsters (N)</h2><ul id="index-monsters-N" title="N Monsters">
<li><a href="naga.html">Naga</a></li>
<li>&nbsp;&nbsp;<a href="naga.html#naga-dark">Naga, Dark</a></li>
<li>&nbsp;&nbsp;<a href="naga.html#naga-guardian">Naga, Guardian</a></li>
<li>&nbsp;&nbsp;<a href="naga.html#naga-spirit">Naga, Spirit</a></li>
<li><a href="neothelid.html#neothelid">Neothelid</a></li>
<li><a href="nightHag.html#night-hag">Night Hag</a></li>
<li><a href="nightmare.html#nightmare">Nightmare</a></li>
<li>&nbsp;&nbsp;<a href="nightmare.html#nightmare-cauchemar">Nightmare, Cauchemar</a></li>
<li><a href="nymph.html#nymph">Nymph</a></li>
</ul></li>
<li><h2>Monsters (O)</h2><ul id="index-monsters-O" title="O Monsters">
<li><a href="ochreJelly.html#ochre-jelly">Ochre Jelly</a></li>
<li><a href="octopus.html#octopus">Octopus</a></li>
<li>&nbsp;&nbsp;<a href="octopus.html#octopus-giant">Octopus, Giant</a></li>
<li><a href="ogre.html#ogre">Ogre</a></li>
<li><a href="oni.html#oni-ogre-mage">Oni, Ogre Mage</a></li>
<li><a href="orc.html#orc">Orc</a></li>
<li><a href="otyugh.html#otyugh">Otyugh</a></li>
<li><a href="owlbear.html#owlbear">Owlbear</a></li>
</ul></li>
<li><h2>Monsters (P)</h2><ul id="index-monsters-P" title="P Monsters">
<li><a href="pegasus.html#pegasus">Pegasus</a></li>
<li><a href="phaseSpider.html#phase-spider">Phase Spider</a></li>
<li><a href="phoenix.html#phoenix">Phoenix</a></li>
<li><a href="pixie.html#pixie">Pixie</a></li>
<li><a href="pseudodragon.html#pseudodragon">Pseudodragon</a></li>
<li><a href="purpleWorm.html#purple-worm">Purple Worm</a></li>
</ul></li>
<li><h2>Monsters (R)</h2><ul id="index-monsters-R" title="R Monsters">
<li><a href="rakshasa.html#rakshasa">Rakshasa</a></li>
<li><a href="rat.html">Rat</a></li>
<li>&nbsp;&nbsp;<a href="rat.html#rat-swarm">Rat Swarm</a></li>
<li>&nbsp;&nbsp;<a href="rat.html#rat-dire">Rat, Dire</a></li>
<li><a href="remorhaz.html#remorhaz">Remorhaz</a></li>
<li><a href="retriever.html#retriever">Retriever</a></li>
<li><a href="rhinoceros.html#rhinoceros">Rhinoceros</a></li>
<li>&nbsp;&nbsp;<a href="rhinoceros.html#rhinoceros-woolly">Rhinoceros, Woolly</a></li>
<li><a href="roc.html#roc">Roc</a></li>
<li><a href="roper.html#roper">Roper</a></li>
<li><a href="rustMonster.html#rust-monster">Rust Monster</a></li>
</ul></li>
<li><h2>Monsters (S)</h2><ul id="index-monsters-S" title="S Monsters">
<li><a href="sahuagin.html#sahuagin">Sahuagin</a></li>
<li><a href="salamander.html#salamander">Salamander</a></li>
<li><a href="satyr.html#satyr">Satyr</a></li>
<li><a href="scorpion.html#scorpion-giant">Scorpion, Giant</a></li>
<li><a href="seaHag.html#sea-hag">Sea Hag</a></li>
<li><a href="seaSerpent.html#sea-serpent">Sea Serpent</a></li>
<li><a href="shadow.html#shadow">Shadow</a></li>
<li>&nbsp;&nbsp;<a href="shadow.html#shadow-greater">Shadow, Greater</a></li>
<li><a href="shamblingMound.html#shambling-mound">Shambling Mound</a></li>
<li><a href="shark.html#shark">Shark</a></li>
<li>&nbsp;&nbsp;<a href="shark.html#shark-dire">Shark, Dire</a></li>
<li><a href="shockerLizard.html#shocker-lizard">Shocker Lizard</a></li>
<li><a href="shoggoth.html#shoggoth">Shoggoth</a></li>
<li><a href="skeleton.html#skeleton">Skeleton</a></li>
<li><a href="skeletalChampion.html#skeletal-champion">Skeletal Champion</a></li>
<li><a href="skum.html#skum">Skum</a></li>
<li><a href="slug.html#slug-giant">Slug, Giant</a></li>
<li><a href="snake.html">Snake</a></li>
<li>&nbsp;&nbsp;<a href="snake.html#snake-constrictor">Snake, Constrictor</a></li>
<li>&nbsp;&nbsp;<a href="snake.html#snake-venomous">Snake, Venomous</a></li>
<li><a href="spectre.html#spectre">Spectre</a></li>
<li><a href="sphinx.html#sphinx">Sphinx</a></li>
<li><a href="spider.html">Spider</a></li>
<li>&nbsp;&nbsp;<a href="spider.html#spider-swarm">Spider Swarm</a></li>
<li>&nbsp;&nbsp;<a href="spider.html#spider-giant">Spider, Giant</a></li>
<li><a href="squid.html#squid">Squid</a></li>
<li>&nbsp;&nbsp;<a href="squid.html#squid-giant">Squid, Giant</a></li>
<li><a href="stirge.html#stirge">Stirge</a></li>
<li><a href="svirfneblin.html#svirfneblin">Svirfneblin</a></li>
</ul></li>
<li><h2>Monsters (T)</h2><ul id="index-monsters-T" title="T Monsters">
<li><a href="tarrasque.html#tarrasque">Tarrasque</a></li>
<li><a href="tengu.html#tengu">Tengu</a></li>
<li><a href="tiefling.html#tiefling">Tiefling</a></li>
<li><a href="tiger.html#tiger">Tiger</a></li>
<li>&nbsp;&nbsp;<a href="tiger.html#tiger-dire">Tiger, Dire</a></li>
<li><a href="treant.html#treant">Treant</a></li>
<li><a href="troglodyte.html#troglodyte">Troglodyte</a></li>
<li><a href="troll.html#troll">Troll</a></li>
</ul></li>
<li><h2>Monsters (U)</h2><ul id="index-monsters-U" title="U Monsters">
<li><a href="unicorn.html#unicorn">Unicorn</a></li>
</ul></li>
<li><h2>Monsters (V)</h2><ul id="index-monsters-V" title="V Monsters">
<li><a href="vampire.html#vampire">Vampire</a></li>
<li><a href="vargouille.html#vargouille">Vargouille</a></li>
<li><a href="vegepygmy.html#vegepygmy">Vegepygmy</a></li>
<li><a href="violetFungus.html#violet-fungus">Violet Fungus</a></li>
</ul></li>
<li><h2>Monsters (W)</h2><ul id="index-monsters-W" title="W Monsters">
<li><a href="wasp.html">Wasp</a></li>
<li>&nbsp;&nbsp;<a href="wasp.html#wasp-swarm">Wasp Swarm</a></li>
<li>&nbsp;&nbsp;<a href="wasp.html#wasp-giant">Wasp, Giant</a></li>
<li><a href="wight.html#wight">Wight</a></li>
<li><a href="willOWisp.html#will-o-wisp">Will-o'-Wisp</a></li>
<li><a href="wolf.html#wolf">Wolf</a></li>
<li><a href="wolf.html#wolf-dire">Wolf, Dire</a></li>
<li><a href="wolverine.html#wolverine">Wolverine</a></li>
<li>&nbsp;&nbsp;<a href="wolverine.html#wolverine-dire">Wolverine, Dire</a></li>
<li><a href="worg.html#worg">Worg</a></li>
<li>&nbsp;&nbsp;<a href="worg.html#worg-winter-wolf">Worg, Winter Wolf</a></li>
<li><a href="wraith.html#wraith">Wraith</a></li>
<li><a href="wyvern.html#wyvern">Wyvern</a></li>
</ul></li>
<li><h2>Monsters (X)</h2><ul id="index-monsters-X" title="X Monsters">
<li><a href="xill.html#xill">Xill</a></li>
<li><a href="xorn.html#xorn">Xorn</a></li>
</ul></li>
<li><h2>Monsters (Y)</h2><ul id="index-monsters-Y" title="Y Monsters">
<li><a href="yellowMuskCreeper.html#yellow-musk-creeper">Yellow Musk Creeper</a></li>
<li><a href="yethHound.html#yeth-hound">Yeth Hound</a></li>
<li><a href="yeti.html#yeti">Yeti</a></li>
</ul></li>
<li><h2>Monsters (Z)</h2><ul id="index-monsters-Z" title="Z Monsters">
<li><a href="zombie.html#zombie">Zombie</a></li>
</ul></div>        </div>            </body>
</html>