<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Variant Monster Index</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				<h1 id="appendix-11-variant-monster-index">Variant Monster Index</h1>
				<p>Not all of the monsters presented in this book have their own stat blocks. Many of them are merely variants on a theme, be they aquatic ghouls like lacedons, more powerful versions of efreeti known as maliks, advanced sharks like the great white, or alternate versions like the fast zombie and the plague zombie. Monster variants use the standard monster's stats but with specific changes, as outlined in the text. The following list indexes all of the monster variants in this book that are associated with rules changes (creatures that are only mentioned in passing, such as the mature form of a nabasu demon or the possibility of other types of kytons or rakshasas, are not indexed here).</p><table>
<thead><tr><th>Variant Monster</th></tr></thead>
<tbody>
<tr class="odd"><td><a href="ironCobra.html#iron-cobra" >adamantine cobra</a></td></tr>
<tr class="even"><td><a href="snake.html#snake-constrictor" >anaconda</a></td></tr>
<tr class="odd"><td><a href="purpleWorm.html#purple-worm" >aquatic worm</a></td></tr>
<tr class="even"><td><a href="demon.html#demon-balor" >balor lord</a></td></tr>
<tr class="odd"><td><a href="bear.html#bear-grizzly" >black bear</a></td></tr>
<tr class="even"><td><a href="scorpion.html#scorpion-giant" >black scorpion</a></td></tr>
<tr class="odd"><td><a href="skeleton.html#skeleton" >bloody skeleton</a></td></tr>
<tr class="even"><td><a href="beetle.html#beetle-giant" >bombardier beetle</a></td></tr>
<tr class="odd"><td><a href="wight.html#wight" >brute wight</a></td></tr>
<tr class="even"><td><a href="skeleton.html#skeleton" >burning skeleton</a></td></tr>
<tr class="odd"><td><a href="wight.html#wight" >cairn wight</a></td></tr>
<tr class="even"><td><a href="scorpion.html#scorpion-giant">cave scorpion</a></td></tr>
<tr class="odd"><td><a href="manticore.html#manticore" >chimera manticore</a></td></tr>
<tr class="even"><td><a href="ape.html#ape-gorilla" >chimpanzee</a></td></tr>
<tr class="odd"><td><a href="crab.html#crab-giant" >coconut crab</a></td></tr>
<tr class="even"><td><a href="purpleWorm.html#purple-worm" >crimson worm</a></td></tr>
<tr class="odd"><td><a href="hydra.html#hydra" >cryohydra</a></td></tr>
<tr class="even"><td><a href="grayOoze.html#gray-ooze" >crystal ooze</a></td></tr>
<tr class="odd"><td><a href="ironCobra.html#iron-cobra" >darkwood cobra</a></td></tr>
<tr class="even"><td><a href="scorpion.html#scorpion-giant" >deadfall scorpion</a></td></tr>
<tr class="odd"><td><a href="mantis.html#mantis-giant" >deadly mantis</a></td></tr>
<tr class="even"><td><a href="manticore.html#manticore" >dire lion manticore</a></td></tr>
<tr class="odd"><td><a href="genie.html#genie-djinni" >djinni vizier</a></td></tr>
<tr class="even"><td><a href="wraith.html#wraith" >dread wraith</a></td></tr>
<tr class="odd"><td><a href="genie.html#genie-efreeti" >efreeti malik</a></td></tr>
<tr class="even"><td><a href="xorn.html#xorn" >elder xorn</a></td></tr>
<tr class="odd"><td><a href="zombie.html#zombie" >fast zombie</a></td></tr>
<tr class="even"><td><a href="beetle.html#beetle-giant" >flash beetle</a></td></tr>
<tr class="odd"><td><a href="wight.html#wight" >frost wight</a></td></tr>
<tr class="even"><td><a href="ghoul.html#ghoul" >ghast</a></td></tr>
<tr class="odd"><td><a href="scorpion.html#scorpion-giant" >ghost scorpion</a></td></tr>
<tr class="even"><td><a href="ant.html#ant-giant" >giant ant</a> drone</td></tr>
<tr class="odd"><td><a href="ant.html#ant-giant" >giant ant</a> queen</td></tr>
<tr class="even"><td><a href="spider.html#spider-giant" >giant black widow</a></td></tr>
<tr class="odd"><td><a href="spider.html#spider-giant" >giant crab spider</a></td></tr>
<tr class="even"><td><a href="scorpion.html#scorpion-giant" >giant emperor scorpion</a></td></tr>
<tr class="odd"><td><a href="spider.html#spider-giant" >giant tarantula</a></td></tr>
<tr class="even"><td><a href="centipede.html#centipede-giant" >giant whiptail centipede</a></td></tr>
<tr class="odd"><td><a href="ant.html#ant-giant" >giant worker ant</a></td></tr>
<tr class="even"><td><a href="beetle.html#beetle-giant" >goliath beetle</a></td></tr>
<tr class="odd"><td><a href="spider.html#spider-giant" >goliath spider</a></td></tr>
<tr class="even"><td><a href="centipede.html#centipede-giant" >great forest centipede</a></td></tr>
<tr class="odd"><td><a href="crab.html#crab-giant" >great reef crab</a></td></tr>
<tr class="even"><td><a href="shark.html#shark" >great white shark</a></td></tr>
<tr class="odd"><td><a href="scorpion.html#scorpion-giant" >greensting scorpion</a></td></tr>
<tr class="even"><td><a href="shark.html#shark" >hammerhead shark</a></td></tr>
<tr class="odd"><td><a href="horse.html#horse" >heavy horse</a></td></tr>
<tr class="even"><td><a href="girallon.html#girallon" >high girallon</a></td></tr>
<tr class="odd"><td><a href="centipede.html#centipede-giant" >hissing centipede</a></td></tr>
<tr class="even"><td><a href="centipede.html#centipede-giant" >house centipede</a></td></tr>
<tr class="odd"><td><a href="grayOoze.html#gray-ooze" >id ooze</a></td></tr>
<tr class="even"><td><a href="devil.html#devil-pit-fiend" >infernal duke</a></td></tr>
<tr class="odd"><td><a href="genie.html#genie-janni" >janni sheikh</a></td></tr>
<tr class="even"><td><a href="gargoyle.html#gargoyle" >kapoacinth</a></td></tr>
<tr class="odd"><td><a href="snake.html#snake-venomous" >king cobra</a></td></tr>
<tr class="even"><td><a href="crab.html#crab-giant" >king crab</a></td></tr>
<tr class="odd"><td><a href="ghoul.html#ghoul" >lacedon</a></td></tr>
<tr class="even"><td><a href="manticore.html#manticore" >lamia manticore</a></td></tr>
<tr class="odd"><td><a href="genie.html#genie-marid" >marid shahzada</a></td></tr>
<tr class="even"><td><a href="dinosaur.html#dinosaur-deinonychus" >megaraptor</a></td></tr>
<tr class="odd"><td><a href="beetle.html#beetle-giant" >mining beetle</a></td></tr>
<tr class="even"><td><a href="ironCobra.html#iron-cobra" >mithral cobra</a></td></tr>
<tr class="odd"><td><a href="spider.html#spider-giant" >ogre spider</a></td></tr>
<tr class="even"><td><a href="ape.html#ape-gorilla" >orangutan</a></td></tr>
<tr class="odd"><td><a href="zombie.html#zombie" >plague zombie</a></td></tr>
<tr class="even"><td><a href="dinosaur.html#dinosaur-elasmosaurus" >plesiosaurus</a></td></tr>
<tr class="odd"><td><a href="bear.html#bear-grizzly" >polar bear</a></td></tr>
<tr class="even"><td><a href="hydra.html#hydra" >pyrohydra</a></td></tr>
<tr class="odd"><td><a href="crab.html#crab-giant" >rock crab</a></td></tr>
<tr class="even"><td><a href="vegepygmy.html#vegepygmy" >russet mold</a> (hazard)</td></tr>
<tr class="odd"><td><a href="sahuagin.html#sahuagin" >sahuagin malenti</a></td></tr>
<tr class="even"><td><a href="sahuagin.html#sahuagin" >sahuagin mutant</a></td></tr>
<tr class="odd"><td><a href="spider.html#spider-giant" >scarlet spider</a></td></tr>
<tr class="even"><td><a href="troll.html#troll" >scrag</a></td></tr>
<tr class="odd"><td><a href="centipede.html#centipede-giant" >sewer centipede</a></td></tr>
<tr class="even"><td><a href="genie.html#genie-shaitan" >shaitan pasha</a></td></tr>
<tr class="odd"><td><a href="crab.html#crab-giant" >shark-eating crab</a></td></tr>
<tr class="even"><td><a href="golem.html#golem" >shield guardian</a></td></tr>
<tr class="odd"><td><a href="crab.html#crab-giant" >shipwrecker crab</a></td></tr>
<tr class="even"><td><a href="manticore.html#manticore" >sphinx manticore</a></td></tr>
<tr class="odd"><td><a href="shark.html#shark" >tiger shark</a></td></tr>
<tr class="even"><td><a href="centipede.html#centipede-giant" >titan centipede</a></td></tr>
<tr class="odd"><td><a href="vampire.html#vampire" >vampire spawn</a></td></tr>
<tr class="even"><td><a href="dinosaur.html#dinosaur-deinonychus" >velociraptor</a></td></tr>
<tr class="odd"><td><a href="elephant.html#elephant-mastodon" >woolly mammoth</a></td></tr>
<tr class="even"><td><a href="yellowMuskCreeper.html#yellow-musk-creeper" >yellow musk zombie</a></td></tr></tbody></table>        </div>            </body>
</html>