<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Ultimate Magic Spell Index</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body"><h1 id="../spells" class="monster-header">Spells</h1>
				
				
				<p>The following lists summarize all of the new spells presented in this book, broken down by class. An <sup>M</sup> or <sup>F</sup> appearing at the end of a spell's name in the spell lists denotes a material or focus component not normally included in a spell component pouch.</p>
				<p id="order-of-presentation"><b>Order of Presentation</b>: These lists present the spells in alphabetical order by name, except when a spell's name begins with “lesser,” “greater,” or “mass,” in which case it is alphabetized under the second word of the spell name.</p>
				<p id="hit-dice"><b>Hit Dice</b>: The term “Hit Dice” is used synonymously with “character levels” for effects that affect a specific number of Hit Dice of creatures.</p>
				<p id="caster-level"><b>Caster Level</b>: A spell's power often depends on caster level, which is defined as the caster's class level for the purpose of casting a particular spell. The word “level” in the short spell descriptions that follow always refers to caster level.</p>
				<p id="creatures-and-characters"><b>Creatures and Characters</b>: “Creature” and “character” are used synonymously in the short description.</p>
				
<p class="shortcutBar"><a href="#index-spells-A">A</a> <a href="#index-spells-B">B</a> <a href="#index-spells-C">C</a> <a href="#index-spells-D">D</a> <a href="#index-spells-E">E</a> <a href="#index-spells-F">F</a> <a href="#index-spells-G">G</a> <a href="#index-spells-H">H</a> <a href="#index-spells-I">I</a> <a href="#index-spells-J">J</a> <a href="#index-spells-K">K</a> <a href="#index-spells-L">L</a> <a href="#index-spells-M">M</a> <a href="#index-spells-O">O</a> <a href="#index-spells-P">P</a> <a href="#index-spells-R">R</a> <a href="#index-spells-S">S</a> <a href="#index-spells-T">T</a> <a href="#index-spells-U">U</a> <a href="#index-spells-V">V</a> <a href="#index-spells-W">W</a> <a href="#index-spells-Y">Y</a></p><div id="spell-index-wrapper" class="index">
<li><h2>Spells (A)</h2><ul id="index-spells-A" title="A Spells">
<li><a href="spells/acidicSpray.html#acidic-spray">Acidic Spray</a></li>
<li><a href="spells/acuteSenses.html#acute-senses">Acute Senses</a></li>
<li><a href="spells/ageResistance.html#age-resistance">Age Resistance</a></li>
<li><a href="spells/ageResistance.html#age-resistance,-greater">Age Resistance, Greater</a></li>
<li><a href="spells/ageResistance.html#age-resistance,-lesser">Age Resistance, Lesser</a></li>
<li><a href="spells/agonize.html#agonize-">Agonize</a></li>
<li><a href="spells/allegro.html#allegro">Allegro</a></li>
<li><a href="spells/animateDead.html#animate-dead,-lesser">Animate Dead, Lesser</a></li>
<li><a href="spells/anthropomorphicAnimal.html#anthropomorphic-animal">Anthropomorphic Animal</a></li>
<li><a href="spells/anticipatePeril.html#anticipate-peril">Anticipate Peril</a></li>
<li><a href="spells/arborealHammer.html#arboreal-hammer">Arboreal Hammer</a></li>
<li><a href="spells/arcanaTheft.html#arcana-theft">Arcana Theft</a></li>
<li><a href="spells/archonSAura.html#archon's-aura">Archon's Aura</a></li>
<li><a href="spells/arrowOfLaw.html#arrow-of-law">Arrow of Law</a></li>
<li><a href="spells/ashStorm.html#ash-storm">Ash Storm</a></li>
<li><a href="spells/astralProjection.html#astral-projection,-lesser">Astral Projection, Lesser</a></li>
<li><a href="spells/atavism.html#atavism">Atavism</a></li>
<li><a href="spells/atavism.html#atavism,-mass">Atavism, Mass</a></li>
<li><a href="spells/auraOfDoom.html#aura-of-doom">Aura of Doom</a></li></ul></li>
<li><h2>Spells (B)</h2><ul id="index-spells-B" title="B Spells">
<li><a href="spells/badgerSFerocity.html#badger's-ferocity">Badger's Ferocity</a></li>
<li><a href="spells/battlemindLink.html#battlemind-link">Battlemind Link</a></li>
<li><a href="spells/bestowGraceOfTheChampion.html#bestow-grace-of-the-champion">Bestow Grace of the Champion</a></li>
<li><a href="spells/bladeOfBrightVictory.html#blade-of-bright-victory">Blade of Bright Victory</a></li>
<li><a href="spells/bladeOfDarkTriumph.html#blade-of-dark-triumph">Blade of Dark Triumph</a></li>
<li><a href="spells/blessingOfTheMole.html#blessing-of-the-mole">Blessing of the Mole</a></li>
<li><a href="spells/bloodCrowStrike.html#blood-crow-strike">Blood Crow Strike</a></li>
<li><a href="spells/bloodMist.html#blood-mist">Blood Mist</a></li>
<li><a href="spells/bloodTranscription.html#blood-transcription">Blood Transcription</a></li>
<li><a href="spells/boilingBlood.html#boiling-blood">Boiling Blood</a></li>
<li><a href="spells/bungle.html#bungle">Bungle</a></li>
<li><a href="spells/burrow.html#burrow">Burrow</a></li>
<li><a href="spells/burstOfNettles.html#burst-of-nettles">Burst of Nettles</a></li></ul></li>
<li><h2>Spells (C)</h2><ul id="index-spells-C" title="C Spells">
<li><a href="spells/cacklingSkull.html#cackling-skull">Cackling Skull</a></li>
<li><a href="spells/callConstruct.html#call-construct">Call Construct</a></li>
<li><a href="spells/capeOfWasps.html#cape-of-wasps">Cape of Wasps</a></li>
<li><a href="spells/causticEruption.html#caustic-eruption">Caustic Eruption</a></li>
<li><a href="spells/chordOfShards.html#chord-of-shards">Chord of Shards</a></li>
<li><a href="spells/circleOfClarity.html#circle-of-clarity">Circle of Clarity</a></li>
<li><a href="spells/coldIceStrike.html#cold-ice-strike">Cold Ice Strike</a></li>
<li><a href="spells/compassionateAlly.html#compassionate-ally">Compassionate Ally</a></li>
<li><a href="spells/conjureBlackPudding.html#conjure-black-pudding">Conjure Black Pudding</a></li>
<li><a href="spells/contagion.html#contagion,-greater">Contagion, Greater</a></li>
<li><a href="spells/controlConstruct.html#control-construct">Control Construct</a></li>
<li><a href="spells/controlSummonedCreature.html#control-summoned-creature">Control Summoned Creature</a></li>
<li><a href="spells/corrosiveConsumption.html#corrosive-consumption">Corrosive Consumption</a></li>
<li><a href="spells/corrosiveTouch.html#corrosive-touch">Corrosive Touch</a></li>
<li><a href="spells/countlessEyes.html#countless-eyes">Countless Eyes</a></li>
<li><a href="spells/createDemiplane.html#create-demiplane">Create Demiplane</a></li>
<li><a href="spells/createDemiplane.html#create-demiplane,-greater">Create Demiplane, Greater</a></li>
<li><a href="spells/createDemiplane.html#create-demiplane,-lesser">Create Demiplane, Lesser</a></li>
<li><a href="spells/curseOfDisgust.html#curse-of-disgust">Curse of Disgust</a></li>
<li><a href="spells/curseOfMagicNegation.html#curse-of-magic-negation">Curse of Magic Negation</a></li>
<li><a href="spells/curse.html#curse,-major">Curse, Major</a></li>
<li><a href="spells/cursedEarth.html#cursed-earth">Cursed Earth</a></li>
<li><a href="spells/cushioningBands.html#cushioning-bands">Cushioning Bands</a></li></ul></li>
<li><h2>Spells (D)</h2><ul id="index-spells-D" title="D Spells">
<li><a href="spells/danceOfAHundredCuts.html#dance-of-a-hundred-cuts">Dance of a Hundred Cuts</a></li>
<li><a href="spells/danceOfAThousandCuts.html#dance-of-a-thousand-cuts">Dance of a Thousand Cuts</a></li>
<li><a href="spells/darkvision.html#darkvision,-greater">Darkvision, Greater</a></li>
<li><a href="spells/daze.html#daze,-mass">Daze, Mass</a></li>
<li><a href="spells/decomposeCorpse.html#decompose-corpse">Decompose Corpse</a></li>
<li><a href="spells/defensiveShock.html#defensive-shock">Defensive Shock</a></li>
<li><a href="spells/delayPain.html#delay-pain">Delay Pain</a></li>
<li><a href="spells/delusionalPride.html#delusional-pride">Delusional Pride</a></li>
<li><a href="spells/diagnoseDisease.html#diagnose-disease">Diagnose Disease</a></li>
<li><a href="spells/disfiguringTouch.html#disfiguring-touch-">Disfiguring Touch</a></li>
<li><a href="spells/disguiseOther.html#disguise-other">Disguise Other</a></li>
<li><a href="spells/distractingCacophony.html#distracting-cacophony">Distracting Cacophony</a></li>
<li><a href="spells/distressingTone.html#distressing-tone">Distressing Tone</a></li>
<li><a href="spells/divinePursuit.html#divine-pursuit">Divine Pursuit</a></li>
<li><a href="spells/dreadBolt.html#dread-bolt">Dread Bolt</a></li></ul></li>
<li><h2>Spells (E)</h2><ul id="index-spells-E" title="E Spells">
<li><a href="spells/eagleAerie.html#eagle-aerie">Eagle Aerie</a></li>
<li><a href="spells/earPiercingScream.html#ear-piercing-scream">Ear-Piercing Scream</a></li>
<li><a href="spells/echolocation.html#echolocation">Echolocation</a></li>
<li><a href="spells/eldritchFever.html#eldritch-fever">Eldritch Fever</a></li>
<li><a href="spells/enviousUrge.html#envious-urge">Envious Urge</a></li>
<li><a href="spells/epidemic.html#epidemic">Epidemic</a></li>
<li><a href="spells/eruptivePustules.html#eruptive-pustules">Eruptive Pustules</a></li>
<li><a href="spells/excruciatingDeformation.html#excruciating-deformation">Excruciating Deformation</a></li>
<li><a href="spells/exquisiteAccompaniment.html#exquisite-accompaniment">Exquisite Accompaniment</a></li></ul></li>
<li><h2>Spells (F)</h2><ul id="index-spells-F" title="F Spells">
<li><a href="spells/falseLife.html#false-life,-greater">False Life, Greater</a></li>
<li><a href="spells/familiarMelding.html#familiar-melding">Familiar Melding</a></li>
<li><a href="spells/fickleWinds.html#fickle-winds">Fickle Winds</a></li>
<li><a href="spells/fleshwormInfestation.html#fleshworm-infestation">Fleshworm Infestation</a></li>
<li><a href="spells/forbidAction.html#forbid-action">Forbid Action</a></li>
<li><a href="spells/forbidAction.html#forbid-action,-greater">Forbid Action, Greater</a></li>
<li><a href="spells/forceHookCharge.html#force-hook-charge">Force Hook Charge</a></li>
<li><a href="spells/forcePunch.html#force-punch">Force Punch</a></li>
<li><a href="spells/forcedQuiet.html#forced-quiet">Forced Quiet</a></li>
<li><a href="spells/frigidTouch.html#frigid-touch">Frigid Touch</a></li>
<li><a href="spells/frostbite.html#frostbite">Frostbite</a></li>
<li><a href="spells/fumbletongue.html#fumbletongue">Fumbletongue</a></li>
<li><a href="spells/fungalInfestation.html#fungal-infestation">Fungal Infestation</a></li></ul></li>
<li><h2>Spells (G)</h2><ul id="index-spells-G" title="G Spells">
<li><a href="spells/ghostlyDisguise.html#ghostly-disguise">Ghostly Disguise</a></li></ul></li>
<li><h2>Spells (H)</h2><ul id="index-spells-H" title="H Spells">
<li><a href="spells/hauntingChoir.html#haunting-choir">Haunting Choir</a></li>
<li><a href="spells/hexWard.html#hex-ward">Hex Ward</a></li>
<li><a href="spells/holyIce.html#holy-ice">Holy Ice</a></li>
<li><a href="spells/holyShield.html#holy-shield">Holy Shield</a></li>
<li><a href="spells/hornOfPursuit.html#horn-of-pursuit">Horn of Pursuit</a></li>
<li><a href="spells/howlingAgony.html#howling-agony">Howling Agony</a></li></ul></li>
<li><h2>Spells (I)</h2><ul id="index-spells-I" title="I Spells">
<li><a href="spells/iceBody.html#ice-body">Ice Body</a></li>
<li><a href="spells/iceCrystalTeleport.html#ice-crystal-teleport">Ice Crystal Teleport</a></li>
<li><a href="spells/icicleDagger.html#icicle-dagger">Icicle Dagger</a></li>
<li><a href="spells/icyPrison.html#icy-prison">Icy Prison</a></li>
<li><a href="spells/icyPrison.html#icy-prison,-mass">Icy Prison, Mass</a></li>
<li><a href="spells/imbueWithAura.html#imbue-with-aura">Imbue with Aura</a></li>
<li><a href="spells/interplanetaryTeleport.html#interplanetary-teleport">Interplanetary Teleport</a></li>
<li><a href="spells/interrogation.html#interrogation">Interrogation</a></li>
<li><a href="../spells/curseWater.html#curse-water">Interrogation, Greater</a></li></ul></li>
<li><h2>Spells (J)</h2><ul id="index-spells-J" title="J Spells">
<li><a href="spells/joyfulRapture.html#joyful-rapture">Joyful Rapture</a></li></ul></li>
<li><h2>Spells (K)</h2><ul id="index-spells-K" title="K Spells">
<li><a href="spells/kiArrow.html#ki-arrow">Ki Arrow</a></li>
<li><a href="spells/kiLeech.html#ki-leech">Ki Leech</a></li>
<li><a href="spells/kiShout.html#ki-shout">Ki Shout</a></li>
<li><a href="spells/knowTheEnemy.html#know-the-enemy">Know the Enemy</a></li></ul></li>
<li><h2>Spells (L)</h2><ul id="index-spells-L" title="L Spells">
<li><a href="spells/leashedShackles.html#leashed-shackles">Leashed Shackles</a></li>
<li><a href="spells/lendJudgment.html#lend-judgment">Lend Judgment</a></li>
<li><a href="spells/lendJudgment.html#lend-judgment,-greater">Lend Judgment, Greater</a></li>
<li><a href="spells/lightningArc.html#lightning-arc">Lightning Arc</a></li>
<li><a href="spells/loathsomeVeil.html#loathsome-veil">Loathsome Veil</a></li>
<li><a href="spells/lunarVeil.html#lunar-veil">Lunar Veil</a></li></ul></li>
<li><h2>Spells (M)</h2><ul id="index-spells-M" title="M Spells">
<li><a href="spells/madHallucination.html#mad-hallucination">Mad Hallucination</a></li>
<li><a href="spells/madMonkeys.html#mad-monkeys">Mad Monkeys</a></li>
<li><a href="spells/malfunction.html#malfunction">Malfunction</a></li>
<li><a href="spells/maliciousSpite.html#malicious-spite">Malicious Spite</a></li>
<li><a href="spells/marionettePossession.html#marionette-possession">Marionette Possession</a></li>
<li><a href="spells/masterworkTransformation.html#masterwork-transformation">Masterwork Transformation</a></li>
<li><a href="spells/miserablePity.html#miserable-pity">Miserable Pity</a></li>
<li><a href="spells/monstrousPhysique.html#monstrous-physique-i">Monstrous Physique I</a></li>
<li><a href="spells/monstrousPhysique.html#monstrous-physique-ii">Monstrous Physique II</a></li>
<li><a href="spells/monstrousPhysique.html#monstrous-physique-iii">Monstrous Physique III</a></li>
<li><a href="spells/monstrousPhysique.html#monstrous-physique-iv">Monstrous Physique IV</a></li>
<li><a href="spells/murderousCommand.html#murderous-command">Murderous Command</a></li></ul></li>
<li><h2>Spells (O)</h2><ul id="index-spells-O" title="O Spells">
<li><a href="spells/oppressiveBoredom.html#oppressive-boredom">Oppressive Boredom</a></li>
<li><a href="spells/oracleSVessel.html#oracle's-vessel">Oracle's Vessel</a></li>
<li><a href="spells/orbOfTheVoid.html#orb-of-the-void">Orb of the Void</a></li>
<li><a href="spells/overwhelmingGrief.html#overwhelming-grief">Overwhelming Grief</a></li>
<li><a href="spells/overwhelmingPresence.html#overwhelming-presence">Overwhelming Presence</a></li></ul></li>
<li><h2>Spells (P)</h2><ul id="index-spells-P" title="P Spells">
<li><a href="spells/perniciousPoison.html#pernicious-poison">Pernicious Poison</a></li>
<li><a href="spells/persuasiveGoad.html#persuasive-goad">Persuasive Goad</a></li>
<li><a href="spells/piercingShriek.html#piercing-shriek">Piercing Shriek</a></li>
<li><a href="spells/plagueCarrier.html#plague-carrier">Plague Carrier</a></li>
<li><a href="spells/plagueStorm.html#plague-storm">Plague Storm</a></li>
<li><a href="spells/playInstrument.html#play-instrument">Play Instrument</a></li>
<li><a href="spells/polarMidnight.html#polar-midnight">Polar Midnight</a></li>
<li><a href="spells/polypurposePanacea.html#polypurpose-panacea">Polypurpose Panacea</a></li>
<li><a href="spells/possessObject.html#possess-object">Possess Object</a></li>
<li><a href="spells/predictionOfFailure.html#prediction-of-failure">Prediction of Failure</a></li>
<li><a href="spells/primalScream.html#primal-scream">Primal Scream</a></li>
<li><a href="spells/protectivePenumbra.html#protective-penumbra">Protective Penumbra</a></li></ul></li>
<li><h2>Spells (R)</h2><ul id="index-spells-R" title="R Spells">
<li><a href="spells/rainOfFrogs.html#rain-of-frogs">Rain of Frogs</a></li>
<li><a href="spells/raiseAnimalCompanion.html#raise-animal-companion">Raise Animal Companion</a></li>
<li><a href="spells/rapidRepair.html#rapid-repair">Rapid Repair</a></li>
<li><a href="spells/rayOfSickening.html#ray-of-sickening">Ray of Sickening</a></li>
<li><a href="spells/recklessInfatuation.html#reckless-infatuation">Reckless Infatuation</a></li>
<li><a href="spells/removeSickness.html#remove-sickness">Remove Sickness</a></li>
<li><a href="spells/reprobation.html#reprobation">Reprobation</a></li>
<li><a href="spells/resonatingWord.html#resonating-word">Resonating Word</a></li>
<li><a href="spells/restoreCorpse.html#restore-corpse">Restore Corpse</a></li>
<li><a href="spells/restoreEidolon.html#restore-eidolon">Restore Eidolon</a></li>
<li><a href="spells/restoreEidolon.html#restore-eidolon,-lesser">Restore Eidolon, Lesser</a></li>
<li><a href="spells/rideTheWaves.html#ride-the-waves">Ride The Waves</a></li>
<li><a href="spells/rideTheLightning.html#ride-the-lightning">Ride the Lightning</a></li></ul></li>
<li><h2>Spells (S)</h2><ul id="index-spells-S" title="S Spells">
<li><a href="spells/sanctifyCorpse.html#sanctify-corpse">Sanctify Corpse</a></li>
<li><a href="spells/sandsOfTime.html#sands-of-time">Sands of Time</a></li>
<li><a href="spells/scouringWinds.html#scouring-winds">Scouring Winds</a></li>
<li><a href="spells/sculptSimulacrum.html#sculpt-simulacrum-">Sculpt Simulacrum</a></li>
<li><a href="spells/serenity.html#serenity">Serenity</a></li>
<li><a href="spells/shadowStep.html#shadow-step">Shadow Step</a></li>
<li><a href="spells/shadowWeapon.html#shadow-weapon">Shadow Weapon</a></li>
<li><a href="spells/shadowbard.html#shadowbard">Shadowbard</a></li>
<li><a href="spells/shardOfChaos.html#shard-of-chaos">Shard of Chaos</a></li>
<li><a href="spells/shareMemory.html#share-memory">Share Memory</a></li>
<li><a href="spells/silkToSteel.html#silk-to-steel">Silk To Steel</a></li>
<li><a href="spells/simulacrum.html#simulacrum,-lesser">Simulacrum, Lesser</a></li>
<li><a href="spells/skinsend.html#skinsend">Skinsend</a></li>
<li><a href="spells/smugNarcissism.html#smug-narcissism">Smug Narcissism</a></li>
<li><a href="spells/snapdragonFireworks.html#snapdragon-fireworks">Snapdragon Fireworks</a></li>
<li><a href="spells/sonicThrust.html#sonic-thrust">Sonic Thrust</a></li>
<li><a href="spells/sootheConstruct.html#soothe-construct">Soothe Construct</a></li>
<li><a href="spells/spearOfPurity.html#spear-of-purity">Spear of Purity</a></li>
<li><a href="spells/spitVenom.html#spit-venom">Spit Venom</a></li>
<li><a href="spells/stealVoice.html#steal-voice">Steal Voice</a></li>
<li><a href="spells/stranglingHair.html#strangling-hair">Strangling Hair</a></li>
<li><a href="spells/summonElderWorm.html#summon-elder-worm">Summon Elder Worm</a></li>
<li><a href="spells/summonFroghemoth.html#summon-froghemoth">Summon Froghemoth</a></li>
<li><a href="spells/summonMinorAlly.html#summon-minor-ally">Summon Minor Ally</a></li>
<li><a href="spells/summonMinorMonster.html#summon-minor-monster">Summon Minor Monster</a></li>
<li><a href="spells/surmountAffliction.html#surmount-affliction">Surmount Affliction</a></li>
<li><a href="spells/symbolOfHealing.html#symbol-of-healing">Symbol of Healing</a></li>
<li><a href="spells/symbolOfMirroring.html#symbol-of-mirroring">Symbol of Mirroring</a></li>
<li><a href="spells/symbolOfRevelation.html#symbol-of-revelation">Symbol of Revelation</a></li>
<li><a href="spells/symbolOfScrying.html#symbol-of-scrying">Symbol of Scrying</a></li>
<li><a href="spells/symbolOfSealing.html#symbol-of-sealing">Symbol of Sealing</a></li>
<li><a href="spells/symbolOfSlowing.html#symbol-of-slowing">Symbol of Slowing</a></li>
<li><a href="../spells/disguiseSelf.html#disguise-self">Symbol of Strife</a></li>
<li><a href="spells/symbolOfVulnerability.html#symbol-of-vulnerability">Symbol of Vulnerability</a></li></ul></li>
<li><h2>Spells (T)</h2><ul id="index-spells-T" title="T Spells">
<li><a href="spells/tarBall.html#tar-ball">Tar Ball</a></li>
<li><a href="spells/temporaryResurrection.html#temporary-resurrection">Temporary Resurrection</a></li>
<li><a href="spells/terribleRemorse.html#terrible-remorse">Terrible Remorse</a></li>
<li><a href="spells/touchOfSlime.html#touch-of-slime">Touch of Slime</a></li>
<li><a href="spells/toxicGift.html#toxic-gift">Toxic Gift</a></li>
<li><a href="spells/transmuteBloodToAcid.html#transmute-blood-to-acid">Transmute Blood To Acid</a></li></ul></li>
<li><h2>Spells (U)</h2><ul id="index-spells-U" title="U Spells">
<li><a href="spells/unadulteratedLoathing.html#unadulterated-loathing">Unadulterated Loathing</a></li>
<li><a href="spells/unbreakableConstruct.html#unbreakable-construct">Unbreakable Construct</a></li>
<li><a href="spells/undeadAnatomy.html#undead-anatomy-i">Undead Anatomy I</a></li>
<li><a href="spells/undeadAnatomy.html#undead-anatomy-ii">Undead Anatomy II</a></li>
<li><a href="spells/undeadAnatomy.html#undead-anatomy-iii">Undead Anatomy III</a></li>
<li><a href="spells/undeadAnatomy.html#undead-anatomy-iv">Undead Anatomy IV</a></li>
<li><a href="spells/unholyIce.html#unholy-ice">Unholy Ice</a></li>
<li><a href="spells/unholySword.html#unholy-sword">Unholy Sword</a></li>
<li><a href="spells/unnaturalLust.html#unnatural-lust">Unnatural Lust</a></li>
<li><a href="spells/unpreparedCombatant.html#unprepared-combatant">Unprepared Combatant</a></li>
<li><a href="spells/unshakableChill.html#unshakable-chill">Unshakable Chill</a></li>
<li><a href="spells/utterContempt.html#utter-contempt">Utter Contempt</a></li></ul></li>
<li><h2>Spells (V)</h2><ul id="index-spells-V" title="V Spells">
<li><a href="spells/vengefulOutrage.html#vengeful-outrage">Vengeful Outrage</a></li>
<li><a href="spells/verminShape.html#vermin-shape-i-">Vermin Shape I</a></li>
<li><a href="spells/verminShape.html#vermin-shape-ii">Vermin Shape II</a></li>
<li><a href="spells/vestmentOfTheChampion.html#vestment-of-the-champion">Vestment of the Champion</a></li>
<li><a href="spells/virtuosoPerformance.html#virtuoso-performance">Virtuoso Performance</a></li>
<li><a href="spells/visionOfHell.html#vision-of-hell">Vision of Hell</a></li>
<li><a href="spells/vitriolicMist.html#vitriolic-mist">Vitriolic Mist</a></li>
<li><a href="spells/vocalAlteration.html#vocal-alteration">Vocal Alteration</a></li>
<li><a href="spells/volcanicStorm.html#volcanic-storm">Volcanic Storm</a></li></ul></li>
<li><h2>Spells (W)</h2><ul id="index-spells-W" title="W Spells">
<li><a href="spells/wallOfSound.html#wall-of-sound">Wall of Sound</a></li>
<li><a href="spells/wartrainMount.html#wartrain-mount">Wartrain Mount</a></li>
<li><a href="spells/wavesOfEcstasy.html#waves-of-ecstasy">Waves of Ecstasy</a></li>
<li><a href="spells/webShelter.html#web-shelter">Web Shelter</a></li>
<li><a href="spells/witness.html#witness">Witness</a></li>
<li><a href="spells/woodenPhalanx.html#wooden-phalanx">Wooden Phalanx</a></li>
<li><a href="spells/wordOfResolve.html#word-of-resolve">Word of Resolve</a></li></ul></li>
<li><h2>Spells (Y)</h2><ul id="index-spells-Y" title="Y Spells">
<li><a href="spells/youthfulAppearance.html#youthful-appearance">Youthful Appearance</a></li>
</ul>
</ul></div>        </div>            </body>
</html>