<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Ultimate Combat Spell Index</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
        
        <h1>Spell Index</h1>
<p class="shortcutBar"><a href="#index-spells-A">A</a> <a href="#index-spells-B">B</a> <a href="#index-spells-C">C</a> <a href="#index-spells-D">D</a> <a href="#index-spells-E">E</a> <a href="#index-spells-F">F</a> <a href="#index-spells-H">H</a> <a href="#index-spells-I">I</a> <a href="#index-spells-J">J</a> <a href="#index-spells-K">K</a> <a href="#index-spells-L">L</a> <a href="#index-spells-M">M</a> <a href="#index-spells-N">N</a> <a href="#index-spells-O">O</a> <a href="#index-spells-P">P</a> <a href="#index-spells-Q">Q</a> <a href="#index-spells-R">R</a> <a href="#index-spells-S">S</a> <a href="#index-spells-T">T</a> <a href="#index-spells-U">U</a> <a href="#index-spells-V">V</a> <a href="#index-spells-W">W</a></p><div id="spell-index-wrapper" class="index">
<li><h2>Spells (A)</h2><ul id="index-spells-A" title="A Spells">
<li><a href="spells/ablativeBarrier.html#ablative-barrier">Ablative Barrier</a></li>
<li><a href="spells/absorbToxicity.html#absorb-toxicity">Absorb Toxicity</a></li>
<li><a href="spells/abundantAmmunition.html#abundant-ammunition">Abundant Ammunition</a></li>
<li><a href="spells/adjuringStep.html#adjuring-step-">Adjuring Step</a></li>
<li><a href="spells/adoration.html#adoration">Adoration</a></li>
<li><a href="spells/airBubble.html#air-bubble">Air Bubble</a></li>
<li><a href="spells/airWalk.html#air-walk,-communal">Air Walk, Communal</a></li>
<li><a href="spells/animalAspect.html#animal-aspect">Animal Aspect</a></li>
<li><a href="spells/animalAspect.html#animal-aspect,-greater">Animal Aspect, Greater</a></li>
<li><a href="spells/antHaul.html#ant-haul,-communal">Ant Haul, Communal</a></li>
<li><a href="spells/arcaneCannon.html#arcane-cannon">Arcane Cannon</a></li>
</ul>
</li>
<li><h2>Spells (B)</h2><ul id="index-spells-B" title="B Spells">
<li><a href="spells/bestowWeaponProficiency.html#bestow-weapon-proficiency">Bestow Weapon Proficiency</a></li>
<li><a href="spells/blisteringInvective.html#blistering-invective">Blistering Invective</a></li>
<li><a href="spells/bowstaff.html#bowstaff">Bowstaff</a></li>
<li><a href="spells/browGasher.html#brow-gasher">Brow Gasher</a></li>
<li><a href="spells/bulletShield.html#bullet-shield">Bullet Shield</a></li>
<li><a href="spells/burstOfSpeed.html#burst-of-speed">Burst of Speed</a></li>
</ul>
</li>
<li><h2>Spells (C)</h2><ul id="index-spells-C" title="C Spells">
<li><a href="spells/cagingBombAdmixture.html#caging-bomb-admixture">Caging Bomb Admixture</a></li>
<li><a href="spells/certainGrip.html#certain-grip-">Certain Grip</a></li>
<li><a href="spells/chainOfPerdition.html#chain-of-perdition">Chain of Perdition</a></li>
<li><a href="spells/companionMindLink.html#companion-mind-link">Companion Mind Link</a></li>
<li><a href="spells/compelHostility.html#compel-hostility">Compel Hostility</a></li>
</ul>
</li>
<li><h2>Spells (D)</h2><ul id="index-spells-D" title="D Spells">
<li><a href="spells/dampPowder.html#damp-powder">Damp Powder</a></li>
<li><a href="spells/darkvision.html#darkvision,-communal">Darkvision, Communal</a></li>
<li><a href="spells/daybreakArrow.html#daybreak-arrow">Daybreak Arrow</a></li>
<li><a href="spells/deadeyeSLore.html#deadeye's-lore">Deadeye's Lore</a></li>
<li><a href="spells/deadlyJuggernaut.html#deadly-juggernaut">Deadly Juggernaut</a></li>
<li><a href="spells/debilitatingPortent.html#debilitating-portent">Debilitating Portent</a></li>
<li><a href="spells/delayPoison.html#delay-poison,-communal">Delay Poison, Communal</a></li>
<li><a href="spells/destabilizePowder.html#destabilize-powder">Destabilize Powder</a></li>
<li><a href="spells/discoveryTorch.html#discovery-torch-">Discovery Torch</a></li>
<li><a href="spells/divineArrow.html#divine-arrow">Divine Arrow</a></li>
<li><a href="spells/dustForm.html#dust-form">Dust Form</a></li>
</ul>
</li>
<li><h2>Spells (E)</h2><ul id="index-spells-E" title="E Spells">
<li><a href="spells/effortlessArmor.html#effortless-armor">Effortless Armor</a></li>
<li><a href="spells/endureElements.html#endure-elements,-communal">Endure Elements, Communal</a></li>
<li><a href="spells/energySiegeShot.html#energy-siege-shot">Energy Siege Shot</a></li>
<li><a href="spells/energySiegeShot.html#energy-siege-shot,-greater">Energy Siege Shot, Greater</a></li>
</ul>
</li>
<li><h2>Spells (F)</h2><ul id="index-spells-F" title="F Spells">
<li><a href="spells/fabricateBullets.html#fabricate-bullets-">Fabricate Bullets</a></li>
<li><a href="spells/fieryShuriken.html#fiery-shuriken-">Fiery Shuriken</a></li>
<li><a href="spells/findQuarry.html#find-quarry">Find Quarry</a></li>
<li><a href="spells/flashFire.html#flash-fire">Flash Fire</a></li>
<li><a href="spells/forestFriend.html#forest-friend-">Forest Friend</a></li>
<li><a href="spells/frightfulAspect.html#frightful-aspect">Frightful Aspect</a></li>
<li><a href="spells/frostFall.html#frost-fall">Frost Fall</a></li>
</ul>
</li>
<li><h2>Spells (H)</h2><ul id="index-spells-H" title="H Spells">
<li><a href="spells/hauntedFeyAspect.html#haunted-fey-aspect">Haunted Fey Aspect</a></li>
<li><a href="spells/healingThief.html#healing-thief">Healing Thief</a></li>
<li><a href="spells/heroicInvocation.html#heroic-invocation">Heroic Invocation</a></li>
<li><a href="spells/hostileJuxtaposition.html#hostile-juxtaposition">Hostile Juxtaposition</a></li>
<li><a href="spells/hostileJuxtaposition.html#hostile-juxtaposition,-greater">Hostile Juxtaposition, Greater</a></li>
<li><a href="spells/hostileLevitation.html#hostile-levitation">Hostile Levitation</a></li>
</ul>
</li>
<li><h2>Spells (I)</h2><ul id="index-spells-I" title="I Spells">
<li><a href="spells/illusionOfCalm.html#illusion-of-calm">Illusion of Calm</a></li>
<li><a href="spells/instrumentOfAgony.html#instrument-of-agony">Instrument of Agony</a></li>
</ul>
</li>
<li><h2>Spells (J)</h2><ul id="index-spells-J" title="J Spells">
<li><a href="spells/joltingPortent.html#jolting-portent">Jolting Portent</a></li>
<li><a href="spells/judgmentLight.html#judgment-light">Judgment Light</a></li>
<li><a href="spells/juryRig.html#jury-rig">Jury-Rig</a></li>
</ul>
</li>
<li><h2>Spells (K)</h2><ul id="index-spells-K" title="K Spells">
<li><a href="spells/kineticReverberation.html#kinetic-reverberation-">Kinetic Reverberation</a></li>
</ul>
</li>
<li><h2>Spells (L)</h2><ul id="index-spells-L" title="L Spells">
<li><a href="spells/languidBombAdmixture.html#languid-bomb-admixture">Languid Bomb Admixture</a></li>
<li><a href="spells/liberatingCommand.html#liberating-command">Liberating Command</a></li>
<li><a href="spells/lifeConduit.html#life-conduit">Life Conduit</a></li>
<li><a href="spells/lifeConduit.html#life-conduit,-greater">Life Conduit, Greater</a></li>
<li><a href="spells/lifeConduit.html#life-conduit,-improved">Life Conduit, Improved</a></li>
<li><a href="spells/lightningLashBombAdmixture.html#lightning-lash-bomb-admixture">Lightning Lash Bomb Admixture</a></li>
<li><a href="spells/litanyOfDefense.html#litany-of-defense">Litany of Defense</a></li>
<li><a href="spells/litanyOfEloquence.html#litany-of-eloquence">Litany of Eloquence</a></li>
<li><a href="spells/litanyOfEntanglement.html#litany-of-entanglement">Litany of Entanglement</a></li>
<li><a href="spells/litanyOfEscape.html#litany-of-escape">Litany of Escape</a></li>
<li><a href="spells/litanyOfMadness.html#litany-of-madness">Litany of Madness</a></li>
<li><a href="spells/litanyOfRighteousness.html#litany-of-righteousness">Litany of Righteousness</a></li>
<li><a href="spells/litanyOfSight.html#litany-of-sight">Litany of Sight</a></li>
<li><a href="spells/litanyOfSloth.html#litany-of-sloth">Litany of Sloth</a></li>
<li><a href="spells/litanyOfThunder.html#litany-of-thunder">Litany of Thunder</a></li>
<li><a href="spells/litanyOfVengeance.html#litany-of-vengeance">Litany of Vengeance</a></li>
<li><a href="spells/litanyOfWarding.html#litany-of-warding">Litany of Warding</a></li>
<li><a href="spells/litanyOfWeakness.html#litany-of-weakness">Litany of Weakness</a></li>
<li><a href="spells/locateWeakness.html#locate-weakness">Locate Weakness</a></li>
<li><a href="spells/lockGaze.html#lock-gaze">Lock Gaze</a></li>
<li><a href="spells/longshot.html#longshot">Longshot</a></li>
</ul>
</li>
<li><h2>Spells (M)</h2><ul id="index-spells-M" title="M Spells">
<li><a href="spells/magicSiegeEngine.html#magic-siege-engine">Magic Siege Engine</a></li>
<li><a href="spells/magicSiegeEngine.html#magic-siege-engine,-greater">Magic Siege Engine, Greater</a></li>
<li><a href="spells/maskDweomer.html#mask-dweomer,-communal">Mask Dweomer, Communal</a></li>
<li><a href="spells/mindBlank.html#mind-blank,-communal">Mind Blank, Communal</a></li>
<li><a href="spells/mirrorStrike.html#mirror-strike">Mirror Strike</a></li>
<li><a href="spells/momentOfGreatness.html#moment-of-greatness">Moment of Greatness</a></li>
<li><a href="spells/mount.html#mount,-communal">Mount, Communal</a></li>
<li><a href="spells/mutagenicTouch.html#mutagenic-touch">Mutagenic Touch</a></li>
</ul>
</li>
<li><h2>Spells (N)</h2><ul id="index-spells-N" title="N Spells">
<li><a href="spells/namedBullet.html#named-bullet">Named Bullet</a></li>
<li><a href="spells/namedBullet.html#named-bullet,-greater">Named Bullet, Greater</a></li>
<li><a href="spells/negativeReaction.html#negative-reaction">Negative Reaction</a></li>
<li><a href="spells/nondetection.html#nondetection,-communal">Nondetection, Communal</a></li>
</ul>
</li>
<li><h2>Spells (O)</h2><ul id="index-spells-O" title="O Spells">
<li><a href="spells/obsidianFlow.html#obsidian-flow">Obsidian Flow</a></li>
</ul>
</li>
<li><h2>Spells (P)</h2><ul id="index-spells-P" title="P Spells">
<li><a href="spells/peacebond.html#peacebond">Peacebond</a></li>
<li><a href="spells/pelletBlast.html#pellet-blast">Pellet Blast</a></li>
<li><a href="spells/phantomChariot.html#phantom-chariot">Phantom Chariot</a></li>
<li><a href="spells/phantomDriver.html#phantom-driver">Phantom Driver</a></li>
<li><a href="spells/phantomSteed.html#phantom-steed,-communal">Phantom Steed, Communal</a></li>
<li><a href="spells/pilferingHand.html#pilfering-hand">Pilfering Hand</a></li>
<li><a href="spells/protectionFromArrows.html#protection-from-arrows,-communal">Protection from Arrows, Communal</a></li>
<li><a href="spells/protectionFromChaos.html#protection-from-chaos,-communal">Protection from Chaos, Communal</a></li>
<li><a href="spells/protectionFromEnergy.html#protection-from-energy,-communal">Protection from Energy, Communal</a></li>
<li><a href="spells/protectionFromEvil.html#protection-from-evil,-communal">Protection from Evil, Communal</a></li>
<li><a href="spells/protectionFromGood.html#protection-from-good,-communal">Protection from Good, Communal</a></li>
<li><a href="spells/protectionFromLaw.html#protection-from-law,-communal">Protection from Law, Communal</a></li>
<li><a href="spells/pupShape.html#pup-shape">Pup Shape</a></li>
</ul>
</li>
<li><h2>Spells (Q)</h2><ul id="index-spells-Q" title="Q Spells">
<li><a href="spells/qualm.html#qualm">Qualm</a></li>
</ul>
</li>
<li><h2>Spells (R)</h2><ul id="index-spells-R" title="R Spells">
<li><a href="spells/recoilFire.html#recoil-fire">Recoil Fire</a></li>
<li><a href="spells/reinforceArmaments.html#reinforce-armaments">Reinforce Armaments</a></li>
<li><a href="spells/reinforceArmaments.html#reinforce-armaments,-communal">Reinforce Armaments, Communal</a></li>
<li><a href="spells/reloadingHands.html#reloading-hands">Reloading Hands</a></li>
<li><a href="spells/resinousSkin.html#resinous-skin">Resinous Skin</a></li>
<li><a href="spells/resistEnergy.html#resist-energy,-communal">Resist Energy, Communal</a></li>
<li><a href="spells/returningWeapon.html#returning-weapon">Returning Weapon</a></li>
<li><a href="spells/returningWeapon.html#returning-weapon,-communal">Returning Weapon, Communal</a></li>
<li><a href="spells/ricochetShot.html#ricochet-shot">Ricochet Shot</a></li>
</ul>
</li>
<li><h2>Spells (S)</h2><ul id="index-spells-S" title="S Spells">
<li><a href="spells/seeAlignment.html#see-alignment">See Alignment</a></li>
<li><a href="spells/shadowBombAdmixture.html#shadow-bomb-admixture">Shadow Bomb Admixture</a></li>
<li><a href="spells/shareLanguage.html#share-language,-communal">Share Language, Communal</a></li>
<li><a href="spells/shockShield.html#shock-shield">Shock Shield</a></li>
<li><a href="spells/shockingImage.html#shocking-image">Shocking Image</a></li>
<li><a href="spells/siegeOfTrees.html#siege-of-trees">Siege of Trees</a></li>
<li><a href="spells/siegeOfTrees.html#siege-of-trees,-greater">Siege of Trees, Greater</a></li>
<li><a href="spells/spellImmunity.html#spell-immunity,-communal">Spell Immunity, Communal</a></li>
<li><a href="spells/spellImmunity.html#spell-immunity,-greater-communal">Spell Immunity, Greater Communal</a></li>
<li><a href="spells/spiderClimb.html#spider-climb,-communal">Spider Climb, Communal</a></li>
<li><a href="spells/spontaneousImmolation.html#spontaneous-immolation">Spontaneous Immolation</a></li>
<li><a href="spells/stabilizePowder.html#stabilize-powder">Stabilize Powder</a></li>
<li><a href="spells/stoneskin.html#stoneskin,-communal">Stoneskin, Communal</a></li>
<li><a href="spells/summonerConduit.html#summoner-conduit">Summoner Conduit</a></li>
<li><a href="spells/sunMetal.html#sun-metal">Sun Metal</a></li>
<li><a href="spells/symbolOfStriking.html#symbol-of-striking">Symbol of Striking</a></li>
</ul>
</li>
<li><h2>Spells (T)</h2><ul id="index-spells-T" title="T Spells">
<li><a href="spells/tacticalAcumen.html#tactical-acumen">Tactical Acumen</a></li>
<li><a href="spells/tarPool.html#tar-pool">Tar Pool</a></li>
<li><a href="spells/targetedBombAdmixture.html#targeted-bomb-admixture">Targeted Bomb Admixture</a></li>
<li><a href="spells/telekineticAssembly.html#telekinetic-assembly">Telekinetic Assembly</a></li>
<li><a href="spells/telekineticCharge.html#telekinetic-charge-">Telekinetic Charge</a></li>
<li><a href="spells/terrainBond.html#terrain-bond">Terrain Bond</a></li>
<li><a href="spells/thunderFire.html#thunder-fire">Thunder Fire</a></li>
<li><a href="spells/tongues.html#tongues,-communal">Tongues, Communal</a></li>
<li><a href="spells/touchInjection.html#touch-injection">Touch Injection</a></li>
<li><a href="spells/twistedSpace.html#twisted-space">Twisted Space</a></li>
</ul>
</li>
<li><h2>Spells (U)</h2><ul id="index-spells-U" title="U Spells">
<li><a href="spells/unerringWeapon.html#unerring-weapon">Unerring Weapon</a></li>
</ul>
</li>
<li><h2>Spells (V)</h2><ul id="index-spells-V" title="V Spells">
<li><a href="spells/viperBombAdmixture.html#viper-bomb-admixture">Viper Bomb Admixture</a></li>
</ul>
</li>
<li><h2>Spells (W)</h2><ul id="index-spells-W" title="W Spells">
<li><a href="spells/walkThroughSpace.html#walk-through-space">Walk through Space</a></li>
<li><a href="spells/wardingWeapon.html#warding-weapon">Warding Weapon</a></li>
<li><a href="spells/waterWalk.html#water-walk,-communal">Water Walk, Communal</a></li>
<li><a href="spells/weakenPowder.html#weaken-powder">Weaken Powder</a></li>
<li><a href="spells/wildernessSoldiers.html#wilderness-soldiers">Wilderness Soldiers</a></li>
<li><a href="spells/wreathOfBlades.html#wreath-of-blades">Wreath of Blades</a></li>
</ul>
</ul></div>        </div>            </body>
</html>