<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Pathfinder Roleplaying Game Reference Document</title>
        <link href="include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
<div id="IndexTable"><table id="homePageList"><tr><td>
<ul><li><b>Core Rulebook</b></li>
<li><a href="gettingStarted.html">Getting Started</a></li>
<li><a href="races.html">Races</a></li>
<li><a href="classes.html">Classes</a></li>
<li><a href="usingSkills.html">Using Skills</a></li>
<li><a href="skillDescriptions.html">Skill Descriptions</a></li>
<li><a href="feats.html">Feats</a></li>
<li><a href="equipment.html">Equipment</a></li>
<li><a href="additionalRules.html">Additional Rules</a></li>
<li><a href="combat.html">Combat</a></li>
<li><a href="magic.html">Magic</a></li>
<li><a href="spellLists.html">Spell Lists</a></li>
<li><a href="spellIndex.html">Spell Index</a></li>
<li><a href="prestigeClasses.html">Prestige Classes</a></li>
<li><a href="gamemastering.html">Gamemastering</a></li>
<li><a href="environment.html">Environment</a></li>
<li><a href="nPCClasses.html">NPC Classes</a></li>
<li><a href="creatingNPCs.html">Creating NPCs</a></li>
<li><a href="magicItems.html">Magic Items</a></li>
<li><a href="glossary.html">Glossary</a></li>
<br>
<li><b>Advanced Player's Guide</b></li>
<li><a href="advanced/advancedRaces.html">Races</a></li>
<li><a href="advanced/advancedBaseClasses.html">Base Classes</a></li>
<li><a href="advanced/advancedCoreClasses.html">Core Classes</a></li>
<li><a href="advanced/advancedPrestigeClasses.html">Prestige Classes</a></li>            
<li><a href="advanced/advancedFeats.html">Feats</a></li>   
<li><a href="advanced/advancedGear.html">Gear</a></li>   
<li><a href="advanced/advancedSpellLists.html">Spell Lists</a></li>   
<li><a href="advanced/advancedSpellIndex.html">Spell Index</a></li>   
<li><a href="advanced/advancedMagicItems.html">Magic Items</a></li>            
<li><a href="advanced/advancedNewRules.html">New Rules</a></li>
</ul>
</td><td><ul>
<li><b>Ultimate Magic</a></b></li>
<li><a href="ultimateMagic/spellcasters/magus.html">Magus</a></li>
<li><a href="ultimateMagic/spellcastingClassOptions.html">Spellcasting Class Options</a></li>
<li><a href="ultimateMagic/magic/introduction.html">Mastering Magic</a></li>
<li><a href="ultimateMagic/ultimateMagicFeats.html">Feats</a></li>
<li><a href="ultimateMagic/ultimateMagicWordsOfPower.html">Words of Power</a></li>
<li><a href="ultimateMagic/ultimateMagicSpellLists.html">Spell Lists</a></li>
<li><a href="ultimateMagic/ultimateMagicSpellIndex.html">Spell Index</a></li>
<li><a href="ultimateMagic/ultimateMagicAppendices.html">Updates</a></li>
<br><li><b>Ultimate Combat</b></li>
<li><a href="ultimateCombat/classes/gunslinger.html">Gunslinger</a></li>
<li><a href="ultimateCombat/classes/ninja.html">Ninja</a></li>
<li><a href="ultimateCombat/classes/samurai.html">Samurai</a></li>
<li><a href="ultimateCombat/classArchetypes.html">Class Archetypes</a></li>
<li><a href="ultimateCombat/ultimateCombatFeats.html">Feats</a></li>
<li><a href="ultimateCombat/combat/introduction.html">Mastering Combat</a></li>
<li><a href="ultimateCombat/ultimateCombatVehicles.html">Vehicles</a></li>
<li><a href="ultimateCombat/variants/introduction.html">Variant Rules</a></li>
<li><a href="ultimateCombat/ultimateCombatSpellLists.html">Spell Lists</a></li>
<li><a href="ultimateCombat/ultimateCombatSpellIndex.html">Spell Index</a></li>
<br><li><b>Game Mastery Guide</b></li>
<li><a href="mastery/planarAdventures.html">Planar Adventures</a></li> 
<li><a href="mastery/settlements.html">Settlements</a></li>
<li><a href="mastery/fastPlayShipCombat.html">Fast Play Ship Combat</a></li>
<li><a href="mastery/chases.html">Chases</a></li>
<li><a href="mastery/disasters.html">Disasters</a></li>
<li><a href="mastery/drugsAndAddiction.html">Drugs and Addiction</a></li>
<li><a href="mastery/haunts.html">Haunts</a></li>
<li><a href="mastery/hazards.html">Hazards</a></li>
<li><a href="mastery/sanityAndMadness.html">Sanity and Madness</a></li>
<li><a href="mastery/npcBoons.html">NPC Boons</a></li>
<li><a href="mastery/npcGallery.html">NPC Gallery</a></li></ul></td>
<td><ul><li><b>Bestiary</a></b></li>
<li><a href="monsters/introduction.html">Monster Introduction</a></li>
<li><a href="monsters/monsterIndex.html">Monster Index</a></li>
<li><a href="monsters/monsterCreation.html">Monster Creation</a></li>
<li><a href="monsters/monsterAdvancement.html">Monster Advancement</a></li>
<li><a href="monsters/universalMonsterRules.html">Universal Monster Rules</a></li>
<li><a href="monsters/creatureTypes.html">Creature Types</a></li>
<li><a href="monsters/monstersAsPCs.html">Monsters as PCs</a></li>
<li><a href="monsters/monsterFeats.html">Monster Feats</a></li>
<li><a href="monsters/monsterCohorts.html">Monster Cohorts</a></li>
<li><a href="monsters/animalCompanions.html">Animal Companions</a></li>
<li><a href="monsters/monstersByType.html">Monsters by Type</a></li>
<li><a href="monsters/monstersByCR.html">Monsters by CR</a></li>
<li><a href="monsters/monstersByTerrain.html">Monsters by Terrain</a></li>
<li><a href="monsters/variantMonsterIndex.html">Variant Monster Index</a></li>
<li><a href="monsters/monsterRoles.html">Monsters Roles</a></li>
<li><a href="monsters/encounterTables.html">Encounter Tables</a></li>
<br><li><b>Bestiary 2</b></li>
<li><a href="additionalMonsters/additionalMonsterIndex.html">Monster Index</a></li>
<li><a href="additionalMonsters/monsterAdvancement.html">Monster Advancement</a></li>
<li><a href="additionalMonsters/universalMonsterRules.html">Universal Monster Rules</a></li>
<li><a href="additionalMonsters/creatureTypes.html">Creature Types</a></li>
<li><a href="additionalMonsters/monsterCohorts.html">Monster Cohorts</a></li>
<li><a href="additionalMonsters/animalCompanions.html">Animal Companions</a></li>
<br><li><b>Bestiary 3</b></li>
<li><a href="bestiary3/MonsterIndex.html">Monster Index</a></li>
<li><a href="bestiary3/monsterAdvancement.html">Monster Advancement</a></li>
<li><a href="bestiary3/universalMonsterRules.html">Universal Monster Rules</a></li>
<li><a href="bestiary3/creatureTypes.html">Creature Types</a></li>
<li><a href="bestiary3/monsterCohorts.html">Monster Cohorts</a></li>
<li><a href="bestiary3/animalCompanions.html">Animal Companions</a></li>
</ul>
</td></tr></table></div>
    
</div>            </body>
</html>