<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Adaro</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body">
				<h1 id="adaro" class="monster-header">Adaro</h1>
				<p class="flavor-text">This hybrid of human and shark holds its spear menacingly, thick, glistening saliva dripping from its razor-sharp teeth.</p>
				<p class="stat-block-title">Adaro <span class="stat-block-cr">CR 3</span></p>
				<p class="stat-block-xp">XP 800</p>
				<p class="stat-block-1">NE Medium monstrous humanoid (<a href="../bestiary3/creatureTypes.html#aquatic-subtype" >aquatic</a>)</p>
				<p class="stat-block-1"><b>Init</b> +3; <b>Senses</b> <a href="../bestiary3/universalMonsterRules.html#blindsense" >blindsense</a> 30 ft., darkvision 6o ft., low-light vision, keen <a href="../bestiary3/universalMonsterRules.html#scent" >scent</a>; <a href="../skills/perception.html#perception" >Perception</a> +8</p>
				<p class="stat-block-breaker">Defense</p>
				<p class="stat-block-1"><b>AC</b> 15, touch 13, flat-footed 12 (+3 Dex, +2 natural)</p>
				<p class="stat-block-1"><b>hp</b> 30 (4d10+8)</p>
				<p class="stat-block-1"><b>Fort</b> +3, <b>Ref</b> +7, <b>Will</b> +5</p>
				<p class="stat-block-breaker">Offense</p>
				<p class="stat-block-1"><b>Speed</b> 10 ft., swim 50 ft.</p>
				<p class="stat-block-1"><b>Melee</b> spear +8 (1d8+4/&times;3 plus <a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >poison</a>), bite +2 (1d6+3)</p>
				<p class="stat-block-1"><b>Ranged</b> spear +8 (1d8+3/&times;3)</p>
				<p class="stat-block-1"><b>Special Attacks</b> rain frenzy</p>
				<p class="stat-block-breaker">Statistics</p>
				<p class="stat-block-1"><b>Str</b> 16, <b>Dex</b> 17, <b>Con</b> 14, <b>Int</b> 10, <b>Wis</b> 13, <b>Cha</b> 13</p>
				<p class="stat-block-1"><b>Base Atk</b> +4; <b>CMB</b> +7; <b>CMD</b> 20</p>
				<p class="stat-block-1"><b>Feats</b> <a href="../feats.html#deadly-aim" >Deadly Aim</a>, <a href="../feats.html#weapon-focus" >Weapon Focus</a> (spear)</p>
				<p class="stat-block-1"><b>Skills</b> <a href="../skills/intimidate.html#intimidate" >Intimidate</a> +8, <a href="../skills/perception.html#perception" >Perception</a> +8, <a href="../skills/stealth.html#stealth" >Stealth</a> +10, <a href="../skills/swim.html#swim" >Swim</a> +18</p>
				<p class="stat-block-1"><b>Languages</b> Aquan, Common; speak with sharks</p>
				<p class="stat-block-1"><b>SQ</b> amphibious, <a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >poison</a> use</p>
				<p class="stat-block-breaker">Ecology</p>
				<p class="stat-block-1"><b>Environment</b> warm oceans</p>
				<p class="stat-block-1"><b>Organization</b> solitary, hunting party (2&ndash;6), or tribe (7&ndash;12)</p>
				<p class="stat-block-1"><b>Treasure</b> standard (3 spears, other treasure)</p>
				<p class="stat-block-breaker">Special Abilities</p>
				<p class="stat-block-1"><b><a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >Poison</a> (Ex) </b>Adaros favor a paralytic toxin secreted by the flying nettlefin pufferfish&mdash;a sticky venom that doesn't wash away in <a href="../bestiary3/creatureTypes.html#water-subtype" >water</a>.</p>
				<p class="stat-block-1"><i>Nettlefin Toxin</i>: Spear&mdash;injury; <i>save</i> Fort DC 15; <i>frequency</i> 1/minute for 4 minutes; <i>effect</i> paralyzed for 1 minute; <i>cure</i> 2 consecutive saves.</p>
				<p class="stat-block-1"><b>Poison Use (Ex)</b> Adaros are skilled in the use of <a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >poison</a> and never risk accidentally poisoning themselves.</p>
				<p class="stat-block-1"><b>Rain Frenzy (Su)</b> Adaros revere storms, and their lust for blood is amplified exponentially while it is raining. While fighting in the rain or during other stormy weather, adaros act as though affected by the <i><a href="../spells/rage.html#rage" >rage</a></i> spell. An adaro gains this benefit even if it is underwater, but only as long as it remains within a move action away from the <a href="../bestiary3/creatureTypes.html#water-subtype" >water</a>'s surface (50 feet for most adaros).</p>
				<p class="stat-block-1"><b>Speak with Sharks (Su)</b> An adaro can communicate telepathically with sharks to a distance of 100 feet. This communication is limited to simple concepts, such as “come,” “defend,” or “attack.”</p>
				
				<p>Malevolent denizens of the waters, adaros are among the fiercest sentient hunters of the tropical seas. They are known and feared by sailors on many exotic shores, as well as by common folk who just happen to live near the ocean. Many have witnessed a fellow sailor or fisher suddenly go rigid, a poisoned spear jutting from his guts, only to fall into the water and be taken by the vicious adaro responsible for the assault.</p>
				<p>Strictly carnivorous, adaros feed upon their victims almost immediately after slaying them. Their brutally sharp teeth cut through bone almost as easily as through flesh, and their powerful digestive systems are capable of handling most organic matter. Adaros usually eat once every couple of days, gorging on meals half their weight.</p>
				<p>Adaros' strange relationship with storms has intrigued scholars for centuries. These sea-dwellers have a special connection to the deadly creatures of the water and the wildness of foul weather, and it is no coincidence that they attack humanoids more often during rough seas. Adaros are seminomadic by nature; a tribe travels until it finds a suitable hunting ground, and leaves either when its presence becomes too well known or when its game runs low.</p>
				<p>An adaro is 7-1/2 feet long and weighs 250 pounds.</p>
				
				</div>
</div>
            </body>
</html>