<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Adlet</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body"><div>
				<h1 id="adlet" class="monster-header">Adlet</h1>
				<p class="flavor-text">This humanoid wolf's fur is snowy white and its eyes piercing blue; it grips an ornate spear in its fist. </p>
				<p class="stat-block-title">Adlet <span class="stat-block-cr">CR 10</span></p>
				<p class="stat-block-xp">XP 9,600 each</p>
				<p class="stat-block-1">CN Medium humanoid (<a href="../bestiary3/creatureTypes.html#adlet-subtype" >adlet</a>, <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a>)</p>
				<p class="stat-block-1"><b>Init</b> +12; <b>Senses</b> low-light vision, <a href="../bestiary3/universalMonsterRules.html#scent" >scent</a>; <a href="../skills/perception.html#perception" >Perception</a> +13</p>
				<p class="stat-block-breaker">Defense</p>
				<p class="stat-block-1"><b>AC</b> 25, touch 20, flat-footed 15 (+8 Dex, +2 dodge, +5 natural)</p>
				<p class="stat-block-1"><b>hp</b> 127 each (15d8+60)</p>
				<p class="stat-block-1"><b>Fort</b> +9, <b>Ref</b> +17, <b>Will</b> +8</p>
				<p class="stat-block-1"><b>Immune</b> <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a></p>
				<p class="stat-block-1"><b>Weaknesses</b> vulnerability to <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a> </p>
				<p class="stat-block-breaker">Offense</p>
				<p class="stat-block-1"><b>Speed</b> 40 ft.</p>
				<p class="stat-block-1"><b>Melee</b> <i>+1 spear</i> +17/+12/+7 (1d8+7/&times;3), bite +10 (1d6+2 plus 1d6 <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a>)</p>
				<p class="stat-block-1"><b>Special Attacks</b> frozen breath</p>
				<p class="stat-block-1"><b>Spell-Like Abilities</b> (CL 10th; concentration +11)</p>
				<p class="stat-block-2">Constant&mdash;<i><a href="../spells/passWithoutTrace.html#pass-without-trace" >pass without trace</a>, <a href="../spells/rayOfFrost.html#ray-of-frost" >ray of frost</a></i></p>
				<p class="stat-block-2">3/day&mdash;<i><a href="../spells/fogCloud.html" >fog cloud</a>, <a href="../spells/sleetStorm.html#sleet-storm" >sleet storm</a></i></p>
				<p class="stat-block-2">1/day&mdash;<i><a href="../spells/iceStorm.html#ice-storm" >ice storm</a>, <a href="../spells/windWalk.html#wind-walk" >wind walk</a></i> (self only)</p>
				<p class="stat-block-breaker">Statistics</p>
				<p class="stat-block-1"><b>Str</b> 18, <b>Dex</b> 26, <b>Con</b> 18, <b>Int</b> 13, <b>Wis</b> 17, <b>Cha</b> 13</p>
				<p class="stat-block-1"><b>Base Atk</b> +11; <b>CMB</b> +15; <b>CMD</b> 35</p>
				<p class="stat-block-1"><b>Feats</b> <a href="../feats.html#diehard">Diehard</a>, <a href="../feats.html#dodge" >Dodge</a>, <a href="../feats.html#improved-initiative" >Improved Initiative</a>, <a href="../monsters/monsterfeats.html#multiattack" >Multiattack</a>, <a href="../feats.html#power-attack" >Power Attack</a>, <a href="../feats.html#run" >Run</a>, <a href="../feats.html#self-sufficient" >Self-Sufficient</a>, <a href="../feats.html#weapon-focus" >Weapon Focus</a> (spear)</p>
				<p class="stat-block-1"><b>Skills</b> <a href="../skills/acrobatics.html#acrobatics" >Acrobatics</a> +13 (+17 when jumping), <a href="../skills/climb.html#climb" >Climb</a> +12, <a href="../skills/handleAnimal.html#handle-animal" >Handle Animal</a> +9, <a href="../skills/heal.html#heal" >Heal</a> +5, <a href="../skills/perception.html#perception" >Perception</a> +13, <a href="../skills/stealth.html#stealth" >Stealth</a> +13 (+21 in snow), <a href="../skills/survival.html#survival" >Survival</a> +20, <a href="../skills/swim.html#swim" >Swim</a> +9; <b>Racial Modifiers</b> +8 <a href="../skills/stealth.html#stealth" >Stealth</a> in snow</p>
				<p class="stat-block-1"><b>Languages</b> Common, <a href="../bestiary3/creatureTypes.html#adlet-subtype" >Adlet</a></p>
				<p class="stat-block-1"><b>SQ</b> arctic stride</p>
				<p class="stat-block-breaker">Ecology</p>
				<p class="stat-block-1"><b>Environment</b> <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a> plains, hills, or mountains</p>
				<p class="stat-block-1"><b>Organization</b> solitary, pair, or pack (3&ndash;18 plus 1 shaman)</p>
				<p class="stat-block-1"><b>Treasure</b> standard (<i>+1 spear</i>, other treasure)</p>
				<p class="stat-block-breaker">Special Abilities</p>
				<p class="stat-block-1"><b>Arctic Stride (Ex)</b> An <a href="../bestiary3/creatureTypes.html#adlet-subtype" >adlet</a> can move through any sort of difficult terrain at its normal speed while within arctic or snowy terrain. Magically altered terrain affects an <a href="../bestiary3/creatureTypes.html#adlet-subtype" >adlet</a> normally.</p>
				<p class="stat-block-1"><b>Frozen Breath (Su) </b>An <a href="../bestiary3/creatureTypes.html#adlet-subtype" >adlet</a>'s breath is supernaturally <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a>, and deals an additional 1d6 points of <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a> damage with its bite as a result. Once every 1d4 rounds as a swift action, it can exhale, filling a 10-foot-radius spread around it with frigid <a href="../bestiary3/creatureTypes.html#air-subtype" >air</a> that deals 2d6 points of <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a> damage and staggers those in the area with numbing <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a>. A DC 21 Fortitude save negates the staggered effect but not the <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a> damage. The save DC is Constitution-based.</p>
				
				<p>Adlets are cunning hunters of the arctic wilds. Tall, sinewy, nimble, and very quick, they see themselves as the true heritors of untamed arctic lands, and are offended by any other humanoid species that attempts to settle in such regions. Although not normally evil, adlets are very aggressive and warlike. They also have no social taboo against cannibalism, and their practice of eating their dead rather than burying them only further builds misconceptions about their morality.</p>
				<p>Deeply religious, adlets worship the power and cruelty of nature, seeing divinity in the lash of the blizzard's wind, the ferocity of the polar bear, and the immensity of the towering iceberg. Many become oracles or druids, but all adlets know their place in the natural world. One in every dozen adlets is a shaman: an adlet with the advanced creature template and the ability to summon a greater ice elemental or 1d4+1 large ice elementals (see <i>Bestiary 2</i> 114) and <i><a href="../spells/communeWithNature.html#commune-with-nature" >commune with nature</a></i> once per day each as spell-like abilities. An adlet is 6 feet tall and weighs 250 pounds.</p>
			</div>
</div>
            </body>
</html>