<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Animal Companions</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body">
				<h1 id="animal-companions">Animal Companions</h1>				<h2 id="antelope-companions">Antelope Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Small; <b>Speed</b> 60 ft.; <b>AC</b> +1 natural armor; <b>Attack</b> gore (1d4); <b>Ability Scores</b> Str 10, Dex 17, Con 14; Int 2; Wis 13; Cha 5; <b>Special Qualities</b> low-light vision.</p>
				<p class="stat-block-1"><b>4th-Level Advancement</b>: <b>Ability Scores</b> Str +2, Dex +2, Con +2.</p>
				
				<h2 id="archelon-companions">Archelon Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed</b> 15 ft., swim 50 ft.; <b>AC</b> +10 natural armor; <b>Attack</b> bite (1d6); <b>Ability Scores</b> Str 8, Dex 10, Con 9, Int 2, Wis 13, Cha 6; <b>Special Qualities</b> low-light vision, hold breath, scent.</p>
				<p class="stat-block-1"><b>7th-Level Advancement</b>: <b>Size</b> Large; <b>AC</b> +2 natural armor; <b>Attack</b> bite (1d8), <b>Ability Scores</b> Str +8, Dex &ndash;2, Con +4.</p>
				
				<h2 id="axe-beak-companions">Axe Beak Companions</h2>
				<p class="body-copy-indent para-style-override-7"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed</b> 50 ft.; <b>Attack</b> bite (1d6 + 1-1/2 Str); <b>Ability Scores</b> Str 10, Dex 17, Con 12, Int 2, Wis 11, Cha 10; <b>Special Qualities</b> low-light vision. </p>
				<p class="stat-block-1"><b>4th Level Advancement</b>: <b>Size</b> Large; <b>AC</b> +2 natural armor; <b>Attack</b> bite (1d8 + 1-1/2 Str); <b>Ability Scores</b> Str +8, Dex &ndash;2, Con +4; <b>Special Attacks</b> sudden charge.</p>
				
				<h2 id="baluchitherium-companions">Baluchitherium Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>AC</b> +4 natural armor; <b>Speed</b> 40 ft.; <b>Attack</b> 2 hooves (1d4); <b>Ability Scores</b> Str 14, Dex 14, Con 15, Int 2, Wis 13, Cha 6; <b>Special Qualities</b> low-light vision, scent.</p>
				<p class="stat-block-1"><b>7th-Level Advancement</b>: <b>Size</b> Large; <b>AC</b> +3 natural armor; <b>Attack</b> 2 hooves (1d6); <b>Ability Scores</b> Str +8, Dex &ndash;2, Con +4; <b>Special Qualities</b> trample.</p>
				
				<h2 id="basilosaurus-companions">Basilosaurus Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed</b> swim 40 ft.; <b>AC</b> +1 natural armor; <b>Attack</b> bite (1d4), tail slap (1d4); <b>Ability Scores</b> Str 11, Dex 14, Con 12, Int 2, Wis 14, Cha 6; <b>Special Qualities</b> low-light vision, hold breath.</p>
				<p class="stat-block-1"><b>7th-Level Advancement</b>: <b>Size</b> Large; <b>AC</b> +2 natural armor; <b>Attack</b> bite (1d6), tail slap (1d6); <b>Ability Scores </b>Str +8, Dex &ndash;2, Con +4; <b>Special Qualities</b> blindsense 60 ft.</p>
				
				<h2 id="dimetrodon-companions">Dimetrodon Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed</b> 30 ft.; <b>AC</b> +2 natural armor; <b>Attack</b> bite (1d8); <b>Ability Scores</b> Str 12, Dex 16, Con 14, Int 1, Wis 12, Cha 3; <b>Special Qualities</b> tearing bite.</p>
				<p class="stat-block-1"><b>7th-Level Advancement</b>: <b>Size</b> Large; <b>AC</b> +1 natural armor; <b>Attack</b> bite (2d8); <b>Ability Scores</b> Str +8, Dex &ndash;2, Con +4.</p>
				
				<h2 id="elk-companions">Elk Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed</b> 50 ft.; <b>AC</b> +1 natural armor; <b>Attack</b> gore (1d6) or 2 hooves (1d3); <b>Ability Scores</b> Str 12, Dex 17, Con 14, Int 2, Wis 15, Cha 5; <b>Special Qualities</b> low-light vision.</p>
				<p class="stat-block-1"><b>7th-Level Advancement</b>: <b>Size</b> Large; AC +2 natural armor; <b>Attack</b> gore (1d8) or 2 hooves (1d4); <b>Ability Scores</b> Str +8, Dex &ndash;2, Con +4.</p>
				
				<h2 id="giant-chameleon-companions">Giant Chameleon Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed</b> 30 ft., climb 30 ft.; <b>Attack</b> bite (1d6); <b>Ability Scores</b> Str 12, Dex 14, Con 14, Int 2, Wis 11, Cha 7; <b>Special Qualities</b> +10 <a href="../skills/stealth.html#stealth" >Stealth</a> when still, low-light vision.</p>
				<p class="stat-block-1"><b>4th-Level Advancement</b>: <b>Size</b> Large; <b>Speed</b> 40 ft., climb 40 ft.; <b>AC</b> +2 natural armor; <b>Attack</b> bite (1d8); <b>Ability Scores</b> Str +4, Dex &ndash;2, Con +2; <b>Special Attacks</b> pull (tongue, 5 ft.), tongue.</p>
				
				<h2 id="giant-gecko-companions">Giant Gecko Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Small; <b>Speed</b> 30 ft.; <b>Attack</b> bite (1d6); <b>Ability Scores</b> Str 11, Dex 15, Con 12, Int 2, Wis 14, Cha 7; <b>Special Qualities</b> expert climber, low-light vision.</p>
				<p id="4th-level-advancement:-size" class="body-copy para-style-override-6"><b>4th-Level Advancement: Size</b> Medium; <b>Speed</b> 40 ft.; <b>AC</b> +2 natural armor; <b>Attack</b> bite (2d4); <b>Ability Scores</b> Str +4, Dex &ndash;2, Con +2.</p>
				
				<h2 id="giant-vulture-companions">Giant Vulture Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>AC</b> +2 natural armor; <b>Speed</b> 10 ft., fly 50 ft. (average); <b>Attack</b> bite (1d8); <b>Ability Scores</b> Str 12, Dex 15, Con 14, Int 2, Wis 15, Cha 7; <b>Special Qualities</b> low-light vision, +4 on saves vs. disease.</p>
				<p class="stat-block-1"><b>7th-Level Advancement</b>: <b>Size</b> Large; <b>AC</b> +2 natural armor; <b>Attack</b> bite (2d6); <b>Ability Scores</b> Str +8, Dex &ndash;2, Con +4.</p>
				
				<h2 id="iguanodon-companions">Iguanodon Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed</b> 30 ft.; <b>AC</b> +3 natural armor; <b>Attack</b> claw (1d6); <b>Ability Scores</b> Str 17, Dex 15, Con 15, Int 2, Wis 12, Cha 7.</p>
				<p class="stat-block-1"><b>7th-Level Advancement</b>: <b>Size</b> Large; <b>AC</b> +2 natural armor; <b>Attack</b> claw (1d8); <b>Ability Scores</b> Str +8, Dex &ndash;2, Con +4; <b>Special Qualities</b> thumb spikes.</p>
				
				<h2 id="kangaroo-companions">Kangaroo Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed </b>40 ft.; <b>Attack</b> kick (1d4); <b>Ability Scores</b> Str 12, Dex 14, Con 13, Int 2, Wis 11, Cha 7; <b>Special Qualities</b> low-light vision, scent.</p>
				<p class="stat-block-1"><b>4th-Level Advancement</b>: <b>Size</b> Medium; <b>Speed</b> 50 ft.; <b>AC</b> +2 natural armor; <b>Attack</b> kick (1d6); <b>Ability Scores </b>Str +4, Dex +2, Con +2.</p>
				
				<h2 id="megalania-companions">Megalania Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed</b> 30 ft.; <b>AC</b> +1 natural armor; <b>Attack</b> bite (1d6 plus grab); <b>Ability Scores</b> Str 13, Dex 17, Con 12, Int 2, Wis 12, Cha 6; <b>Special Qualities</b> low-light vision, scent.</p>
				<p class="stat-block-1"><b>7th-Level Advancement</b>: <b>Size</b> Large; <b>AC</b> +1 natural armor; <b>Attack</b> bite (1d8 plus grab and poison); <b>Ability Scores</b> Str +4, Dex &ndash;2, Con +4.</p>
				
				<h2 id="pachycephalosaurus-companions">Pachycephalosaurus Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed</b> 30 ft.; <b>AC</b> +3 natural armor; <b>Attack</b> gore (1d8); <b>Ability Scores</b> Str 15, Dex 16, Con 13, Int 2, Wis 12, Cha 5.</p>
				<p class="stat-block-1"><b>7th-Level Advancement</b>: <b>Size</b> Large; <b>AC</b> +2 natural armor; <b>Attack</b> gore (1d10); <b>Ability Scores</b> Str +8, Dex &ndash;2, Con +4; <b>Special Qualities</b> clobbering charge.</p>
				
				<h2 id="spinosaurus-companions">Spinosaurus Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Medium; <b>Speed</b> 30 ft., swim 20 ft.; <b>AC</b> +3 natural armor; <b>Attack</b> bite (1d6), 2 claws (1d4); <b>Ability Scores</b> Str 18, Dex 15, Con 15, Int 2, Wis 13, Cha 3.</p>
				<p class="stat-block-1"><b>7th-Level Advancement</b>: <b>Size</b> Large; <b>AC</b> +2 natural armor; <b>Attack</b> bite (1d8), 2 claws (1d6); <b>Ability Scores</b> Str +8, Dex &ndash;2, Con +4.</p>
				
				<h2 id="thylacine-companions">Thylacine Companions</h2>
				<p class="stat-block-1"><b>Starting Statistics</b>: <b>Size</b> Small; <b>Speed</b> 30 ft.; <b>Attack</b> bite (1d4); <b>Ability Scores</b> Str 12, Dex 15, Con 16, Int 2, Wis 13, Cha 7; <b>Special Qualities</b> low-light vision, powerful jaws.</p>
				<p class="stat-block-1"><b>4th-Level Advancement</b>: <b>Size</b> Medium; <b>AC</b> +2 natural armor; <b>Attack</b> bite (1d6); <b>Ability Scores</b> Str +4, Dex -2, Con +4.</p>
</div>
            </body>
</html>