<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Faun</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body">				<h1 id="faun" class="monster-header">Faun</h1>
				<p class="flavor-text">This capricious figure has the upper torso, arms, and head of a man, but goatlike legs, a tail, and curling horns on his head.</p>
				<p class="stat-block-title">Faun <span class="stat-block-cr">CR 1</span></p>
				<p class="stat-block-xp">XP 400</p>
				<p class="stat-block-1">CG Medium fey </p>
				<p class="stat-block-1"><b>Init</b> +3; <b>Senses</b> low-light vision; <a href="../skills/perception.html#perception" >Perception</a> +8</p>
				<p class="stat-block-breaker">Defense</p>
				<p class="stat-block-1"><b>AC</b> 16, touch 13, flat-footed 13 (+3 Dex, +3 natural)</p>
				<p class="stat-block-1"><b>hp</b> 13 (3d6+3)</p>
				<p class="stat-block-1"><b>Fort</b> +2, <b>Ref</b> +6, <b>Will</b> +5</p>
				<p class="stat-block-1"><b>DR</b> 2/cold iron</p>
				<p class="stat-block-breaker">Offense</p>
				<p class="stat-block-1"><b>Speed</b> 30 ft.</p>
				<p class="stat-block-1"><b>Melee</b> dagger +4 (1d4+2/19&ndash;20)</p>
				<p class="stat-block-1"><b>Ranged</b> shortbow +4 (1d6/&times;3)</p>
				<p class="stat-block-1"><b>Special Attacks</b> panpipes</p>
				<p class="stat-block-1"><b>Spell-Like Abilities</b> (CL 3rd; concentration +6)</p>
				<p class="stat-block-2">At will&mdash;<i><a href="../spells/ghostSound.html#ghost-sound" >ghost sound</a></i> (DC 13)</p>
				<p class="stat-block-2">1/day&mdash;<i><a href="../spells/hideousLaughter.html#hideous-laughter" >hideous laughter</a></i> (DC 14), <i><a href="../spells/sleep.html#sleep" >sleep</a></i> (DC 14)</p>
				<p class="stat-block-breaker">Statistics</p>
				<p class="stat-block-1"><b>Str</b> 14, <b>Dex</b> 16, <b>Con</b> 13, <b>Int</b> 11, <b>Wis</b> 14, <b>Cha</b> 17</p>
				<p class="stat-block-1"><b>Base Atk</b> +1; <b>CMB</b> +3; <b>CMD</b> 16</p>
				<p class="stat-block-1"><b>Feats</b> <a href="../feats.html#point-blank-shot" >Point-Blank Shot</a>, <a href="../feats.html#weapon-finesse" >Weapon Finesse</a></p>
				<p class="stat-block-1"><b>Skills</b> <a href="../skills/acrobatics.html#acrobatics" >Acrobatics</a> +8, <a href="../skills/bluff.html#bluff" >Bluff</a> +9, <a href="../skills/perception.html#perception" >Perception</a> +8, <a href="../skills/perform.html#perform" >Perform</a> (wind) +9, <a href="../skills/senseMotive.html#sense-motive" >Sense Motive</a> +7, <a href="../skills/stealth.html#stealth" >Stealth</a> +9, <a href="../skills/survival.html#survival" >Survival</a> +4</p>
				<p class="stat-block-1"><b>Languages</b> Common, Sylvan</p>
				<p class="stat-block-breaker">Ecology</p>
				<p class="stat-block-1"><b>Environment</b> temperate forests</p>
				<p class="stat-block-1"><b>Organization</b> solitary, pair, or band (3&ndash;8)</p>
				<p class="stat-block-1"><b>Treasure</b> standard (dagger, shortbow with 20 arrows, masterwork panpipes, other treasure)</p>
				<p class="stat-block-breaker">Special Abilities </p>
				<p class="stat-block-1"><b>Panpipes (Su)</b> Three times per day, a faun can use its masterwork panpipes to augment its spell-like abilities. Doing so is a swift action that increases the DC of the next spell-like ability it uses on its turn by +2. </p>
				
				<p>Often mistaken for satyrs, fauns are far more benevolent than their unpredictable cousins. Many people use the two names interchangeably, a fact that irritates both fauns and satyrs. The vast majority of fauns are male, although unlike satyrs, females of this species do exist&mdash;they're simply less common than male fauns.</p>
				<p>While satyrs breeding with their seduced victims always produce full-blooded satyrs, fauns are the result of a willing pairing between satyrs and goodly fey or kindhearted humanoids such as humans or elves. Even in this case, the babies of such unions are usually stolen away and raised by their fey parent or some other sylvan foster family. </p>
				<p>Like satyrs, fauns enjoy wine, music, dancing, nature, and carnal pleasures. Gentle hedonists, fauns also have a dedicated connection to the countryside, helping hardworking humanoids who make peace with the land and take little more than they need. They help these frontier folk by fighting off significant threats and keeping less savory fey creatures away from their settlements. While they prefer to go unnoticed, in dire times a band of fauns may present themselves to villagers to warn their neighbors of an upcoming threat.</p>
				<p>Fauns find nymphs exceptionally attractive, more so than all others who dare view them. Nymphs find beauty in fauns' good nature and steadfast dedication to the natural world, and often humor their advances before almost accidentally falling in love with them.</p>
				<p>As tall as a human, a faun stands on stark white goat legs and has short horns protruding from its head. It also has a short tail that swishes playfully when it is excited or entertained, and its hair falls gracefully around its horns and ears. Its humanoid torso is always lithe but chiseled because of its constant activity and play&mdash;fauns rarely laze about too long. Fauns stand nearly 6 feet tall and weigh little more than 150 pounds.</p>
			</div>
</div>
            </body>
</html>