<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Ghul</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body"><div>
				<h1 id="ghul" class="monster-header">Ghul</h1>
				<p class="flavor-text">Draped in fine dark robes, this undead creature's body seems to be made of equal parts bone, leathery flesh, and blood-red smoke. </p>
				<p class="stat-block-title">Ghul <span class="stat-block-cr">CR 5</span></p>
				<p class="stat-block-xp">XP 1,600</p>
				<p class="stat-block-1">CE Medium undead (<a href="../bestiary3/creatureTypes.html#shapechanger-subtype" >shapechanger</a>)</p>
				<p class="stat-block-1"><b>Init</b> +2; <b>Senses</b> darkvision 60 ft.; <a href="../skills/perception.html#perception" >Perception</a> +15</p>
				<p class="stat-block-breaker">Defense</p>
				<p class="stat-block-1"><b>AC</b> 18, touch 12, flat-footed 16 (+2 Dex, +6 natural)</p>
				<p class="stat-block-1"><b>hp</b> 51 (6d8+24)</p>
				<p class="stat-block-1"><b>Fort</b> +8, <b>Ref</b> +4, <b>Will</b> +7</p>
				<p class="stat-block-1"><b>DR</b> 5/good; <b>Immune</b> undead traits; <b>Resist</b> <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a> 10</p>
				<p class="stat-block-breaker">Offense</p>
				<p class="stat-block-1"><b>Speed</b> 40 ft., climb 20 ft.</p>
				<p class="stat-block-1"><b>Melee</b> bite +10 (1d6+6), 2 claws +10 (1d4+6 plus <a href="../bestiary3/universalMonsterRules.html#bleed" >bleed</a>)</p>
				<p class="stat-block-1"><b>Special Attacks</b> <a href="../bestiary3/universalMonsterRules.html#bleed" >bleed</a> (1), cursed claws, rend (1d6+6)</p>
				<p class="stat-block-breaker">Statistics</p>
				<p class="stat-block-1"><b>Str</b> 22, <b>Dex</b> 15, <b>Con</b> &mdash;, <b>Int</b> 14, <b>Wis</b> 15, <b>Cha</b> 18</p>
				<p class="stat-block-1"><b>Base Atk</b> +4; <b>CMB</b> +10; <b>CMD</b> 22</p>
				<p class="stat-block-1"><b>Feats</b> <a href="../feats.html#great-fortitude" >Great Fortitude</a>, <a href="../feats.html#power-attack" >Power Attack</a>, <a href="../feats.html#step-up" >Step Up</a></p>
				<p class="stat-block-1"><b>Skills</b> <a href="../skills/bluff.html#bluff" >Bluff</a> +10, <a href="../skills/climb.html#climb" >Climb</a> +18, <a href="../skills/diplomacy.html#diplomacy" >Diplomacy</a> +7, <a href="../skills/disguise.html#disguise" >Disguise</a> +11, <a href="../skills/intimidate.html#intimidate" >Intimidate</a> +11, <a href="../skills/perception.html#perception" >Perception</a> +15, <br/><a href="../skills/stealth.html#stealth" >Stealth</a> +11, <a href="../skills/survival.html#survival" >Survival</a> +8 (+16 when following tracks); <b>Racial Modifiers</b> +4 <a href="../skills/perception.html#perception" >Perception</a>, +8 <a href="../skills/survival.html#survival" >Survival</a> when following tracks</p>
				<p class="stat-block-1"><b>Languages</b> Common, one <a href="../bestiary3/creatureTypes.html#elemental-subtype" >elemental</a> language (Aquan, Auran, Ignan, or Terran), one planar language (Abyssal, Celestial, or Infernal)</p>
				<p class="stat-block-1"><b>SQ</b> <a href="../bestiary3/universalMonsterRules.html#change-shape" >change shape</a> (hyena; does not detect as undead in this form; <i><a href="../spells/beastShape.html#beast-shape-i" >beast shape I</a></i>), genie-kin</p>
				<p class="stat-block-breaker">Ecology</p>
				<p class="stat-block-1"><b>Environment</b> warm deserts</p>
				<p class="stat-block-1"><b>Organization</b> solitary or pack (2&ndash;8)</p>
				<p class="stat-block-1"><b>Treasure</b> standard</p>
				<p class="stat-block-breaker">Special Abilities</p>
				<p class="stat-block-1"><b>Cursed Claws (Ex)</b> A ghul's claws count as both <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a> iron and magic for the purpose of bypassing <a href="../bestiary3/universalMonsterRules.html#damage-reduction-(ex-or-su)" >damage reduction</a>.</p>
				<p class="stat-block-1"><b>Genie-kin (Ex)</b> For all race-related effects (such as a ranger's favored enemy), a ghul is considered a genie even though its type is undead.</p>
				
				<p>Ghuls are undead jann whose eternal existence was twisted by fate and wrought through the displeasure of Ahriman, Lord of the Divs. As if the curse of undeath and ravenous hunger were not enough, these once-majestic creatures now bear donkey hooves as feet. Despite their horrific undead appearance, this feature shames them the most, and they hide their feet from view.</p>
				<p>Ghuls, like ghouls and ghasts, haunt cemeteries and other places of the dead hoping to feed on corpses. They also hunt mourners and grave tenders, as they enjoy the taste of living prey as well as that of the dead. Selective in their diets, ghuls choose their victims by personality, believing innocence and youth taste more delicious than the barely palatable flesh of the bitter and old. Sometimes a ghul follows a funeral procession in hyena form, keeping a safe distance until the ceremony, whereupon it changes into its true form to attack and feast. Sorrow and despair taste as delicious as innocence to a ghul.</p>
				<p>While not directly affected by sunlight, ghuls despise its presence and only move about during the day if forced to by necessity. They primarily hunt at night, sometimes straying far from their graveyard lairs and burial caves in search of fresh prey to sate their hunger. </p>
				<p>The longer a ghul goes without feeding, the more ferocious and primal the creature becomes. A well-sated ghul organizes with others of its kind and lesser undead, tormenting nearby towns and settlements. A ghul involved with this level of organization often has a scattered set of lairs throughout the desert. These allow the ghul to strike far from its home lair and hide again without having to travel during the blistering daylight sun. When a ghul goes for too long without feeding, it becomes increasingly feral and violent&mdash;its statistics don't change, but it grows less concerned with fleeing combat, even when it is obviously outmatched.</p>
				<p>Ghuls stand 6 feet tall and weigh 90 pounds.</p>
			</div>
</div>
            </body>
</html>