<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Hellwasp Swarm</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body">
			
			<div>
				<h1 id="hellwasp-swarm" class="monster-header">Hellwasp Swarm</h1>
				<p class="flavor-text">This hideous, buzzing cloud of insects is comprised of black and yellow wasps with hungry red eyes. </p>
				<p class="stat-block-title">Hellwasp Swarm  <span class="stat-block-cr">CR 8</span></p>
				<p class="stat-block-xp">XP 4,800 each</p>
				<p class="stat-block-1">LE Diminutive vermin (<a href="../bestiary3/creatureTypes.html#extraplanar-subtype" >extraplanar</a>, swarm)</p>
				<p class="stat-block-1"><b>Init</b> +10; <b>Senses</b> darkvision 60 ft.; <a href="../skills/perception.html#perception" >Perception</a> +4</p>
				<p class="stat-block-breaker">Defense</p>
				<p class="stat-block-1"><b>AC</b> 21, touch 21, flat-footed 14 (+6 Dex, +1 dodge, +4 size)</p>
				<p class="stat-block-1"><b>hp</b> 90 (12d8+36)</p>
				<p class="stat-block-1"><b>Fort</b> +10, <b>Ref</b> +10, <b>Will</b> +7</p>
				<p class="stat-block-1"><b>DR </b>10/good; <b>Immune</b> swarm traits, weapon damage; <b>Resist</b> <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a> 10</p>
				<p class="stat-block-breaker">Offense</p>
				<p class="stat-block-1"><b>Speed</b> 5 ft., fly 40 ft. (good)</p>
				<p class="stat-block-1"><b>Melee</b> swarm (3d6 plus <a href="../bestiary3/universalMonsterRules.html#distraction" >distraction</a> and <a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >poison</a>)</p>
				<p class="stat-block-1"><b>Space</b> 10 ft.; <b>Reach</b> 0 ft.</p>
				<p class="stat-block-1"><b>Special Attacks</b> <a href="../bestiary3/universalMonsterRules.html#distraction" >distraction</a> (DC 18), inhabit</p>
				<p class="stat-block-breaker">Statistics</p>
				<p class="stat-block-1"><b>Str</b> 1, <b>Dex</b> 22, <b>Con</b> 14, <b>Int</b> 6, <b>Wis</b> 13, <b>Cha</b> 9</p>
				<p class="stat-block-1"><b>Base Atk</b> +9; <b>CMB</b> +11; <b>CMD</b> 16 (can't be tripped)</p>
				<p class="stat-block-1"><b>Feats</b> <a href="../monsters/monsterfeats.html#ability-focus" >Ability Focus</a> (<a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >poison</a>), <a href="../feats.html#dodge" >Dodge</a>, <a href="../feats.html#improved-initiative" >Improved Initiative</a>, <a href="../feats.html#iron-will" >Iron Will</a>, <a href="../feats.html#skill-focus" >Skill Focus</a> (<a href="../skills/perception.html#perception" >Perception</a>), <a href="../feats.html#toughness" >Toughness</a></p>
				<p class="stat-block-1"><b>Skills</b> <a href="../skills/fly.html#fly" >Fly</a> +25, <a href="../skills/perception.html#perception" >Perception</a> +4, <a href="../skills/stealth.html#stealth" >Stealth</a> +24</p>
				<p class="stat-block-1"><b>Languages</b> Infernal</p>
				<p class="stat-block-breaker">Ecology</p>
				<p class="stat-block-1"><b>Environment</b> any (Hell)</p>
				<p class="stat-block-1"><b>Organization</b> solitary, pair, or infestation (3&ndash;6)</p>
				<p class="stat-block-1"><b>Treasure</b> incidental</p>
				<p class="stat-block-breaker">Special Abilities </p>
				<p class="stat-block-1"><b>Inhabit (Ex)</b> A hellwasp swarm can enter the body of a helpless or dead creature by crawling into its mouth and other orifices. Inhabiting a body requires 1 minute, and the victim must be Small, Medium, or Large. The swarm can abandon the body at any time as a full-round action. Any attack against the host deals half damage to the hellwasp swarm as well, although the swarm's DR, resistances, and immunities may negate some or all of this damage.</p>
				<p class="stat-block-1">When a hellwasp swarm inhabits a dead body, it effectively transforms the corpse into a zombie of the appropriate size under the swarm's control. If a hellwasp swarm inhabits a living victim, it can neutralize the effects of its own <a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >poison</a> and control the victim's movement and actions as if using <i><a href="../spells/dominateMonster.html#dominate-monster" >dominate monster</a></i>. Hellwasps quickly consume a living victim, dealing 2d4 points of Constitution damage per hour.</p>
				<p class="stat-block-1">A hellwasp-inhabited creature is easy to spot, since its skin crawls with the forms of the insects inside. A swarm can attempt a <a href="../skills/disguise.html#disguise" >Disguise</a> check to conceal its inhabitation of a host, with a &ndash;4 penalty if currently inhabiting a Small host.</p>
				<p class="stat-block-1">A <i><a href="../spells/removeDisease.html#remove-disease" >remove disease</a></i> or <i><a href="../spells/heal.html#heal" >heal</a></i> spell cast on an inhabited victim forces the hellwasp swarm to abandon its host.</p>
				<p class="stat-block-1"><b><a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >Poison</a> (Ex)</b> <a href="../bestiary3/creatureTypes.html#swarm-subtype" >Swarm</a>&mdash;injury; <i>save</i> Fort DC 20; <i>frequency</i> 1/round for 6 rounds; <i>effect</i> 1d6 Dex; <i>cure</i> 2 consecutive saves. </p>
				
				<p>Even Hell's fiendish inhabitants know to stay clear of the maddening buzz of hellwasp swarms. While individual hellwasps are mindless, when swarmed together they gain a hive mind that torments the living and the dead alike. Sages and diabolists argue as to why this happens, but a favored explanation is that all hellwasps contain the dispersed soul of some greater devil, scattered and imprisoned by his rivals for infractions lost to mortal knowledge. </p>
				<p>Though intelligent, these swarms are often difficult to understand and reason with. A hellwasp swarm can speak in a fashion with its myriad droning wings. The chatter is often little more than repetitive mantras of insults and the voicing of the twisted and base desires of the swarm. A hellwasp swarm has little use for reason, diplomacy, or discourse in other circumstances, for its desires are as savage as its home plane.</p>
			</div>
</div>
            </body>
</html>