<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Jorogumo</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body">				<h1 id="jorogumo" class="monster-header">Jorogumo</h1>
				<p class="flavor-text">Eight spindly spider legs, flocked with coarse black hairs, stretch from the back of this otherwise beautiful black-haired woman.</p>
				<p class="stat-block-title">Jorogumo <span class="stat-block-cr">CR 12</span></p>
				<p class="stat-block-xp">XP 19,200</p>
				<p class="stat-block-1">NE Medium monstrous humanoid (<a href="../bestiary3/creatureTypes.html#shapechanger-subtype" >shapechanger</a>)</p>
				<p class="stat-block-1"><b>Init</b> +4; <b>Senses</b> darkvision 60 ft.; <a href="../skills/perception.html#perception" >Perception</a> +18</p>
				<p class="stat-block-breaker">Defense</p>
				<p class="stat-block-1"><b>AC</b> 27, touch 15, flat-footed 22 (+4 Dex, +1 dodge, +12 natural)</p>
				<p class="stat-block-1"><b>hp</b> 161 (14d10+84)</p>
				<p class="stat-block-1"><b>Fort</b> +10, <b>Ref</b> +13, <b>Will</b> +14</p>
				<p class="stat-block-1"><b>DR</b> 10/cold iron and magic; <b>Immune</b> <a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >poison</a></p>
				<p class="stat-block-breaker">Offense</p>
				<p class="stat-block-1"><b>Speed</b> 30 ft., climb 50 ft., swim 40 ft.</p>
				<p class="stat-block-1"><b>Melee</b> bite +20 (1d4+6/19&ndash;20 plus <a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >poison</a>), 2 claws +20 (1d6+6)</p>
				<p class="stat-block-1"><b>Special Attacks</b> sneak attack +3d6, web (+18 ranged, DC 23, 14 hp)</p>
				<p class="stat-block-1"><b>Spell-Like Abilities</b> (CL 12th; concentration +19)</p>
				<p class="stat-block-2">At will&mdash;<i><a href="../spells/charmPerson.html#charm-person" >charm person</a></i> (DC 18), <i><a href="../spells/detectThoughts.html#detect-thoughts" >detect thoughts</a></i> (DC 19)</p>
				<p class="stat-block-2">3/day&mdash;<i><a href="../spells/bestowCurse.html#bestow-curse" >bestow curse</a></i> (DC 21), <i><a href="../spells/suggestion.html#suggestion" >suggestion</a></i> (DC 19)</p>
				<p class="stat-block-2">1/day&mdash;<i><a href="../spells/holdMonster.html#hold-monster" >hold monster</a></i> (DC 22), <i><a href="../spells/summonNatureSAlly.html#summon-nature-s-ally-v" >summon nature's ally V</a></i> (1 ogre spider or 1d3 giant black widow spiders or 1d4+1 giant spiders)</p>
				<p class="stat-block-breaker">Statistics</p>
				<p class="stat-block-1"><b>Str</b> 22, <b>Dex</b> 19, <b>Con</b> 22, <b>Int</b> 15, <b>Wis</b> 17, <b>Cha</b> 24</p>
				<p class="stat-block-1"><b>Base Atk</b> +14; <b>CMB</b> +20; <b>CMD</b> 35</p>
				<p class="stat-block-1"><b>Feats</b> <a href="../feats.html#dodge" >Dodge</a>, <a href="../feats.html#improved-critical" >Improved Critical</a> (bite), <a href="../feats.html#improved-iron-will" >Improved Iron Will</a>, <a href="../feats.html#iron-will" >Iron Will</a>, <a href="../feats.html#mobility">Mobility</a>, <a href="../feats.html#power-attack" >Power Attack</a>, <a href="../feats.html#spring-attack">Spring Attack</a></p>
				<p class="stat-block-1"><b>Skills</b> <a href="../skills/acrobatics.html#acrobatics" >Acrobatics</a> +14, <a href="../skills/bluff.html#bluff" >Bluff</a> +19, <a href="../skills/climb.html#climb" >Climb</a> +29 (+37 with spider legs), <a href="../skills/diplomacy.html#diplomacy" >Diplomacy</a> +18, <a href="../skills/perception.html#perception" >Perception</a> +18, <a href="../skills/perform.html#perform" >Perform</a> (string) +10, <a href="../skills/senseMotive.html#sense-motive" >Sense Motive</a> +15, <a href="../skills/stealth.html#stealth" >Stealth</a> +19, <a href="../skills/swim.html#swim" >Swim</a> +14; <b>Racial Modifiers</b> +8 <a href="../skills/climb.html#climb" >Climb</a> with spider legs</p>
				<p class="stat-block-1"><b>Languages</b> Aklo, Common, Sylvan</p>
				<p class="stat-block-1"><b>SQ</b> <a href="../bestiary3/universalMonsterRules.html#change-shape" >change shape</a> (<a href="../bestiary3/creatureTypes.html#giant-subtype" >giant</a> spider; <i><a href="../ultimateMagic/spells/verminShape.html#vermin-shape-i-" >vermin shape I</a></i>), spider empathy +21, swift <a href="../bestiary3/creatureTypes.html#shapechanger-subtype" >shapechanger</a>.</p>
				<p class="stat-block-breaker">Ecology</p>
				<p class="stat-block-1"><b>Environment</b> temperate mountain valleys</p>
				<p class="stat-block-1"><b>Organization</b> solitary or cult (2&ndash;6 plus 2&ndash;8 spiders of various sizes)</p>
				<p class="stat-block-1"><b>Treasure</b> standard</p>
				<p class="stat-block-breaker">Special Abilities<span class="char-style-override-29"> </span></p>
				<p class="stat-block-1"><b><a href="../bestiary3/universalMonsterRules.html#poison-(ex-or-su)" >Poison</a> (Ex)</b> Bite&mdash;injury; <i>save</i> Fort DC 23; <i>frequency</i> 1/round for 6 rounds; <i>effect</i> 1d6 Wisdom damage; <i>cure</i> 3 saves.</p>
				<p class="stat-block-1"><b>Spider Empathy (Ex) </b>This ability functions as a druid's wild empathy, save that it works only on spiders. A jorogumo gains a racial bonus on this check equal to her Hit Dice (normally +14). Spiders are normally mindless, but this empathic communication imparts upon them a modicum of implanted intelligence, allowing the jorogumo to train them and use them as guardians (though it does not grant them skills or feats).</p>
				<p class="stat-block-1"><b>Spider Legs (Ex)</b> A jorogumo's spider legs can emerge or retract as a free action. When a jorogumo's spider legs are present, she gains a +8 circumstance bonus on <a href="../skills/climb.html#climb" >Climb</a> checks and gains Deflect Arrows as a bonus feat.</p>
				<p class="stat-block-1"><b>Swift Shapechanger (Ex) </b>A jorogumo can assume spider or <a href="../bestiary3/creatureTypes.html#human-subtype" >human</a> form as a swift action.</p>
				
				<p>Jorogumos are seductive schemers who secret themselves away in isolated mountain valleys where they lure travelers, especially men, to their dooms. Exclusively female, jorogumos must mate with humanoids to produce fertile eggs. After copulation, a jorogumo paralyzes her partner by poisoning him into a coma. She lays a single egg within the father's body, then cocoons the corpse and hides the victim. Periodic visits to re-poison the victim ensure his coma lasts for the 2d4 days required for the young jorogumo to hatch and feed. Jorogumos are enthusiastic enemies of tengus and attack them on sight&mdash;they never take tengus as “mates.”</p>
			</div>
</div>
            </body>
</html>