<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Monster Cohorts</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body">
				<h1 id="monster-cohorts">Monster Cohorts</h1>
				<p>The <a href="../feats.html#leadership" >Leadership</a> feat allows a character to gain a loyal cohort. With the GM's approval, this cohort can be a similarly aligned monster rather than a member of the standard player races. Monsters on the following list all work well as cohorts (be they assassins, bodyguards, mounts, etc.)&mdash;their effective cohort “level” corresponds to the level available to the PC as afforded by his <a href="../feats.html#leadership" >Leadership</a> score. Use these monsters as guidelines when determining cohort levels for other monsters.</p><table><caption>Table: Monster Cohorts</caption>
<thead><tr><th>Monster</th><th>Level</th></tr></thead>
<tbody><tr class="odd"><td><a href="../bestiary3/adlet.html">Adlet</a></td><td>14</td></tr>
<tr class="even"><td><a href="../bestiary3/ahuizotl.html">Ahuizotl</a></td><td>11</td></tr>
<tr class="odd"><td><a href="../bestiary3/derhii.html">Derhii</a></td><td>10</td></tr>
<tr class="even"><td><a href="../bestiary3/dragonne.html">Dragonne</a></td><td>10</td></tr>
<tr class="odd"><td><a href="../bestiary3/garuda.html">Garuda</a></td><td>16</td></tr>
<tr class="even"><td><a href="../bestiary3/owl.html">Giant owl</td><td>8</td></tr>
<tr class="odd"><td><a href="../bestiary3/vulture.html">Giant vulture</td><td>7</td></tr>
<tr class="even"><td><a href="../bestiary3/kech.html">Kech</a></td><td>6</td></tr>
<tr class="odd"><td><a href="../bestiary3/kirin.html">Kirin</a></td><td>13</td></tr>
<tr class="even"><td><a href="../bestiary3/maftet.html">Maftet</a></td><td>11</td></tr>
<tr class="odd"><td><a href="../bestiary3/nephilim.html">Nephilim</a></td><td>13</td></tr>
<tr class="even"><td><a href="../bestiary3/sabosan.html">Sabosan</a></td><td>9</td></tr>
<tr class="odd"><td><a href="../bestiary3/sasquatch.html">Sasquatch</a></td><td>6</td></tr>
<tr class="even"><td><a href="../bestiary3/shadowMastiff.html">Shadow mastiff</a></td><td>8</td></tr>
<tr class="odd"><td><a href="../bestiary3/shae.html">Shae</a></td><td>7</td></tr>
<tr class="even"><td><a href="../bestiary3/shedu.html">Shedu</a></td><td>14</td></tr>
<tr class="odd"><td><a href="../bestiary3/sleipnir.html">Sleipnir</a></td><td>16</td></tr>
<tr class="even"><td><a href="../bestiary3/tanuki.html">Tanuki</a></td><td>8</td></tr></table>
</div>
</div>
            </body>
</html>