<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Peri</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body">
			
				<h1 id="peri" class="monster-header">Peri</h1>
				<p class="flavor-text">This beautiful albino woman is wreathed in wings of brilliant flame.</p>
				<p class="stat-block-title">Peri <span class="stat-block-cr">CR 14</span></p>
				<p class="stat-block-xp">XP 38,400</p>
				<p class="stat-block-1">NG Medium outsider (<a href="../bestiary3/creatureTypes.html#good-subtype" >good</a>, <a href="../bestiary3/creatureTypes.html#native-subtype" >native</a>)</p>
				<p class="stat-block-1"><b>Init</b> +7; <b>Senses</b> darkvision 60 ft., low-light vision, smoke sight; <a href="../skills/perception.html#perception" >Perception</a> +26</p>
				<p class="stat-block-breaker">Defense</p>
				<p class="stat-block-1"><b>AC</b> 30, touch 18, flat-footed 22 (+7 Dex, +1 dodge, +12 natural)</p>
				<p class="stat-block-1"><b>hp</b> 180 (19d10+76)</p>
				<p class="stat-block-1"><b>Fort</b> +12, <b>Ref</b> +18, <b>Will</b> +17</p>
				<p class="stat-block-1"><b>DR</b> 10/cold iron and <a href="../bestiary3/creatureTypes.html#evil-subtype" >evil</a>; <b>Immune</b> electricity, <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a>; <b>Resist</b> acid 10, <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a> 10; <b>SR</b> 25</p>
				<p class="stat-block-breaker">Offense</p>
				<p class="stat-block-1"><b>Speed</b> 30 ft., fly 90 ft. (good)</p>
				<p class="stat-block-1"><b>Melee</b> <i>+2 <a href="../magicItems/weapons.html#weapons-flaming-burst" >flaming burst</a> scimitar</i> +27/+22/+17/+12 (1d6+8/18&ndash;20 plus 1d6 <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a>), 2 wings +20 (1d6+3 plus burn)</p>
				<p class="stat-block-1"><b>Special Attacks</b> burn (2d6, DC 23), whirlwind dance </p>
				<p class="stat-block-1"><b>Spell-Like Abilities</b> (CL 15th; concentration +23)</p>
				<p class="stat-block-2">Constant&mdash;<i><a href="../spells/fireShield.html#fire-shield" >fire shield</a></i> (warm shield)</p>
				<p class="stat-block-2">At will&mdash;<i><a href="../spells/aid.html#aid" >aid</a></i>, <i>flame jump</i>, <i><a href="../spells/pyrotechnics.html#pyrotechnics" >pyrotechnics</a></i> (DC 20), <i><a href="../spells/scorchingRay.html#scorching-ray" >scorching ray</a></i></p>
				<p class="stat-block-2">3/day&mdash;<i><a href="../spells/fireball.html#fireball" >fireball</a></i> (DC 21), <i><a href="../spells/flameStrike.html#flame-strike" >flame strike</a></i> (DC 23), <i><a href="../spells/wallOfFire.html#wall-of-fire" >wall of fire</a></i></p>
				<p class="stat-block-breaker">Statistics</p>
				<p class="stat-block-1"><b>Str</b> 22, <b>Dex</b> 24, <b>Con</b> 19, <b>Int</b> 21, <b>Wis</b> 19, <b>Cha</b> 26</p>
				<p class="stat-block-1"><b>Base Atk</b> +19; <b>CMB</b> +25; <b>CMD</b> 43</p>
				<p class="stat-block-1"><b>Feats</b> <a href="../feats.html#combat-expertise" >Combat Expertise</a>, <a href="../feats.html#combat-reflexes" >Combat Reflexes</a>, <a href="../feats.html#dodge" >Dodge</a>, <a href="../feats.html#great-fortitude" >Great Fortitude</a>, <a href="../feats.html#improved-disarm">Improved Disarm</a>, <a href="../feats.html#iron-will" >Iron Will</a>, <a href="../feats.html#mobility">Mobility</a>, <a href="../feats.html#power-attack" >Power Attack</a>, <a href="../feats.html#spring-attack">Spring Attack</a>, <a href="../feats.html#whirlwind-attack">Whirlwind Attack</a></p>
				<p class="stat-block-1"><b>Skills</b> <a href="../skills/acrobatics.html#acrobatics" >Acrobatics</a> +29, <a href="../skills/diplomacy.html#diplomacy" >Diplomacy</a> +30, <a href="../skills/fly.html#fly" >Fly</a> +33, <a href="../skills/heal.html#heal" >Heal</a> +23, <a href="../skills/knowledge.html#knowledge" >Knowledge</a> (planes) +27, <a href="../skills/knowledge.html#knowledge" >Knowledge</a> (religion) +24, <a href="../skills/perception.html#perception" >Perception</a> +26, <a href="../skills/perform.html#perform" >Perform</a> (any one) +30, <a href="../skills/senseMotive.html#sense-motive" >Sense Motive</a> +26, <a href="../skills/spellcraft.html#spellcraft" >Spellcraft</a> +27, <a href="../skills/stealth.html#stealth" >Stealth</a> +29</p>
				<p class="stat-block-1"><b>Languages</b> Celestial, Common, Draconic, Elven, Ignan; telepathy 100 ft.</p>
				<p class="stat-block-breaker">Ecology</p>
				<p class="stat-block-1"><b>Environment</b> any good-aligned plane</p>
				<p class="stat-block-1"><b>Organization</b> solitary or pair</p>
				<p class="stat-block-1"><b>Treasure</b> triple <i>(+2 <a href="../magicItems/weapons.html#weapons-flaming-burst" >flaming burst</a> scimitar</i>, other treasure)</p>
				<p class="stat-block-breaker">Special Abilities</p>
				<p class="stat-block-1"><b>Flame Jump (Sp)</b> A peri can enter any <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a> equal to the peri's size or larger and travel any distance to another <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a> in a single round, regardless of the distance between the two. This ability otherwise functions as <i><a href="../spells/teleport.html#teleport-greater" >greater teleport</a></i> (caster level 14th), but the peri can transport only itself and up to 50 pounds of objects.</p>
				<p class="stat-block-1"><b>Smoke Sight (Su)</b> A peri can see through <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a>, fog, and smoke without penalty.</p>
				<p class="stat-block-1"><b>Whirlwind Dance (Su)</b> Once per day as a full-round action, a peri can spin in an ever-faster, whirling dance, transforming itself into a spinning vortex of flame 10 to 40 feet high for up to 9 rounds. This ability functions as the <a href="../bestiary3/universalMonsterRules.html#whirlwind" >whirlwind</a> ability (DC 26 Reflex save), but any creature that comes in contact with the <a href="../bestiary3/universalMonsterRules.html#whirlwind" >whirlwind</a> or is caught inside it takes 2d6+6 points of <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a> damage and is subject to the peri's burn special attack. The save DC is Dexterity-based.</p>
				
				<p>Peris are a race of celestials native to the good-aligned Outer Planes, but they are also often found in the company of mortals on the Material Plane. Believed to be the descendants of fallen angels, peris do penance for their ancestors' sins before they can earn a place in paradise. As a result, peris work tirelessly to aid and support good heroes of the mortal realms in a never-ending battle against evil. </p>
				<p>Peris hate the evil fiends known as divs, who constantly seek to ruin the good works of mortals. Peris often work to repair damage wrought by the destructive divs. For their part, the divs take great pleasure in tormenting and persecuting peris, locking the fiery-winged celestials in cages of cold iron and endlessly torturing them.</p>
			</div>
</div>
            </body>
</html>