<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Shedu</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body"><div>
				<h1 id="shedu" class="monster-header">Shedu</h1>
				<p class="flavor-text">This noble creature stands strong and tall with the body of a powerful bull and the head of a wise-looking human.</p>
				<p class="stat-block-title">Shedu <span class="stat-block-cr">CR 9</span></p>
				<p class="stat-block-xp">XP 6,400</p>
				<p class="stat-block-1">LG Large magical beast </p>
				<p class="stat-block-1"><b>Init</b> +7; <b>Senses</b> darkvision 60 ft., <i><a href="../spells/detectChaos.html#detect-chaos" >detect chaos</a></i>, <i><a href="../spells/detectEvil.html#detect-evil" >detect evil</a></i>, low-light vision, <i><a href="../spells/trueSeeing.html#true-seeing" >true seeing</a></i>; <a href="../skills/perception.html#perception" >Perception</a> +20</p>
				<p class="stat-block-breaker">Defense</p>
				<p class="stat-block-1"><b>AC</b> 24, touch 16, flat-footed 23 (+1 Dex, +6 insight, +8 natural, &ndash;1 size)</p>
				<p class="stat-block-1"><b>hp</b> 115 (11d10+55); fast healing 5</p>
				<p class="stat-block-1"><b>Fort</b> +12, <b>Ref</b> +14, <b>Will</b> +11</p>
				<p class="stat-block-1"><b>Defensive Abilities</b> prescience; <b>DR</b> 10/evil; <b>Resist</b> electricity 10, <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a> 10; <b>SR</b> 20</p>
				<p class="stat-block-breaker">Offense</p>
				<p class="stat-block-1"><b>Speed</b> 30 ft., fly 60 ft. (good)</p>
				<p class="stat-block-1"><b>Melee</b> gore +17 (2d8+7/19&ndash;20), 2 hooves +12 (1d6+3), 2 wings +12 (1d6+3)</p>
				<p class="stat-block-1"><b>Space</b> 10 ft.; <b>Reach</b> 5 ft.</p>
				<p class="stat-block-1"><b>Special Attacks</b> <a href="../bestiary3/universalMonsterRules.html#trample" >trample</a> (2d6+10, DC 22)</p>
				<p class="stat-block-1"><b>Spell-Like Abilities</b> (CL 12th; concentration +18)</p>
				<p class="stat-block-2">Constant&mdash; <i><a href="../spells/detectChaos.html#detect-chaos" >detect chaos</a></i>, <i><a href="../spells/detectEvil.html#detect-evil" >detect evil</a></i>, <i><a href="../spells/trueSeeing.html#true-seeing" >true seeing</a></i></p>
				<p class="stat-block-2">3/day&mdash;empowered <i><a href="../spells/cureModerateWounds.html#cure-moderate-wounds" >cure moderate wounds</a>, <a href="../spells/dispelMagic.html#dispel-magic" >dispel magic</a></i>, <i><a href="../spells/magicCircleAgainstEvil.html#magic-circle-against-evil" >magic circle against evil</a></i>, <i><a href="../spells/removeDisease.html#remove-disease" >remove disease</a></i>, <i><a href="../spells/shieldOther.html#shield-other" >shield other</a></i></p>
				<p class="stat-block-2">1/day&mdash;<i><a href="../spells/dismissal.html#dismissal" >dismissal</a></i> (DC 18), <i><a href="../spells/flameStrike.html#flame-strike" >flame strike</a></i> (DC 18), <i><a href="../spells/restoration.html#restoration" >restoration</a></i></p>
				<p class="stat-block-breaker">Statistics</p>
				<p class="stat-block-1"><b>Str</b> 24, <b>Dex</b> 13, <b>Con</b> 20, <b>Int</b> 19, <b>Wis</b> 22, <b>Cha</b> 19</p>
				<p class="stat-block-1"><b>Base Atk</b> +11; <b>CMB</b> +19 (+23 bull rush); <b>CMD</b> 30 (32 vs. bull rush, 34 vs. trip)</p>
				<p class="stat-block-1"><b>Feats</b> <a href="../monsters/monsterfeats.html#empower-spell-like-ability" >Empower Spell-Like Ability</a> (<i><a href="../spells/cureModerateWounds.html#cure-moderate-wounds" >cure moderate wounds</a></i>), <a href="../feats.html#greater-bull-rush">Greater Bull Rush</a>, <a href="../feats.html#improved-bull-rush">Improved Bull Rush</a>, <a href="../feats.html#improved-critical" >Improved Critical</a> (gore), <a href="../feats.html#iron-will" >Iron Will</a>, <a href="../feats.html#power-attack" >Power Attack</a></p>
				<p class="stat-block-1"><b>Skills</b> <a href="../skills/diplomacy.html#diplomacy" >Diplomacy</a> +15, <a href="../skills/fly.html#fly" >Fly</a> +13, <a href="../skills/knowledge.html#knowledge" >Knowledge</a> (planes) +15, <a href="../skills/knowledge.html#knowledge" >Knowledge</a> (religion) +15, <a href="../skills/perception.html#perception" >Perception</a> +20, <a href="../skills/senseMotive.html#sense-motive" >Sense Motive</a> +17</p>
				<p class="stat-block-1"><b>Languages</b> Auran, Celestial, Common; telepathy 100 ft.</p>
				<p class="stat-block-breaker">Ecology</p>
				<p class="stat-block-1"><b>Environment</b> warm deserts</p>
				<p class="stat-block-1"><b>Organization</b> solitary</p>
				<p class="stat-block-1"><b>Treasure</b> standard</p>
				<p class="stat-block-breaker">Special Abilities</p>
				<p class="stat-block-1"><b>Prescience (Su)</b> A shedu can see all the possible outcomes of any of its own futures. This grants the creature an insight bonus to its AC and on initiative checks and Reflex saves equal to its Wisdom bonus (+6 for most shedus).</p>
				<p>Shedus live far from the hustle and bustle of humanity in harsh deserts. There they populate caves, ruins, or ancient temples reclaimed from the shifting sands. In these places of refuge, shedus contemplate the struggle between good and evil throughout the universe. Tireless vehicles of good and kindness, shedus fight against outsiders who corrupt and threaten humanity. Skilled in healing, shedus focus on eliminating plagues, even hunting down outsiders and undead working in that destructive medium.</p>
				<p>Shedus rarely make their homes near each other. This is not out of any sort of animosity, but rather from a feeling that having two or more shedus within close proximity wastes the opportunity to provide aid to a larger region. When a shedu roams through the lands of another, it always seeks out the local shedu for an opportunity to talk and share knowledge over the course of 3 days. After this period, the visiting shedu departs with a new perspective and more points to ponder in its eternal struggle against the evils of the world.</p>
			</div>
</div>
            </body>
</html>