<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Suli</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
<div id="body">
			
			
			<div>
				<h1 id="suli" class="monster-header">Suli</h1>
				<p class="flavor-text">This fine-featured humanoid wears exotic clothing and has flashing eyes; his arms are sheathed in a blaze of crackling flames.</p>
				<p class="stat-block-title">Suli <span class="stat-block-cr">CR 1/2</span></p>
				<p class="stat-block-xp">XP 200</p>
				<p class="stat-block-1">Suli ranger 1</p>
				<p class="stat-block-1">N Medium outsider (<a href="../bestiary3/creatureTypes.html#native-subtype" >native</a>)</p>
				<p class="stat-block-1"><b>Init</b> +1; <b>Senses</b> low-light vision; <a href="../skills/perception.html#perception" >Perception</a> &ndash;1</p>
				<p class="stat-block-breaker">Defense</p>
				<p class="stat-block-1"><b>AC</b> 17, touch 11, flat-footed 16 (+6 armor, +1 Dex)</p>
				<p class="stat-block-1"><b>hp</b> 11 (1d10+1)</p>
				<p class="stat-block-1"><b>Fort</b> +2, <b>Ref</b> +3, <b>Will</b> &ndash;1</p>
				<p class="stat-block-1"><b>Resist</b> acid 5, <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a> 5, electricity 5, <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a> 5</p>
				<p class="stat-block-breaker">Offense</p>
				<p class="stat-block-1"><b>Speed</b> 20 ft. (30 ft. without armor)</p>
				<p class="stat-block-1"><b>Melee</b> scimitar +4 (1d6+2/18&ndash;20)</p>
				<p class="stat-block-1"><b>Ranged</b> shortbow +2 (1d6/&times;3)</p>
				<p class="stat-block-1"><b>Special Attacks</b> <a href="../bestiary3/creatureTypes.html#elemental-subtype" >elemental</a> assault, favored enemy (humans +2)</p>
				<p class="stat-block-breaker">Statistics</p>
				<p class="stat-block-1"><b>Str</b> 15, <b>Dex</b> 12, <b>Con</b> 11, <b>Int</b> 10, <b>Wis</b> 9, <b>Cha</b> 10</p>
				<p class="stat-block-1"><b>Base Atk</b> +1; <b>CMB</b> +3; <b>CMD</b> 14</p>
				<p class="stat-block-1"><b>Feats</b> <a href="../feats.html#weapon-focus" >Weapon Focus</a> (scimitar)</p>
				<p class="stat-block-1"><b>Skills</b> <a href="../skills/diplomacy.html#diplomacy" >Diplomacy</a> +3, <a href="../skills/knowledge.html#knowledge" >Knowledge</a> (geography) +4, <a href="../skills/knowledge.html#knowledge" >Knowledge</a> (nature) +4, <a href="../skills/ride.html#ride" >Ride</a> +0, <a href="../skills/senseMotive.html#sense-motive" >Sense Motive</a> +2, <a href="../skills/survival.html#survival" >Survival</a> +3; <b>Racial Modifiers</b> +2 <a href="../skills/diplomacy.html#diplomacy" >Diplomacy</a>, +2 <a href="../skills/senseMotive.html#sense-motive" >Sense Motive</a></p>
				<p class="stat-block-1"><b>Languages</b> Common plus one <a href="../bestiary3/creatureTypes.html#elemental-subtype" >elemental</a> language </p>
				<p class="stat-block-1"><b>SQ</b> track +1, wild empathy +1</p>
				<p class="stat-block-breaker">Ecology</p>
				<p class="stat-block-1"><b>Environment</b> any</p>
				<p class="stat-block-1"><b>Organization</b> single, pair, or group (3&ndash;6)</p>
				<p class="stat-block-1"><b>Treasure</b> NPC gear (chainmail, scimitar, short bow with 20 arrows, other treasure)</p>
				<p class="stat-block-breaker">Special Abilities</p>
				<p class="stat-block-1"><b>Elemental Assault (Su)</b> Once per day as a swift action, a suli can call on the <a href="../bestiary3/creatureTypes.html#elemental-subtype" >elemental</a> power lurking in its veins to shroud its arms in acid, <a href="../bestiary3/creatureTypes.html#cold-subtype" >cold</a>, electricity, or <a href="../bestiary3/creatureTypes.html#fire-subtype" >fire</a>. Unarmed strikes with its elbows or hands (or attacks with weapons held in those hands) deal +1d6 points of damage of the appropriate energy type. This lasts for 1 round per level. The suli can end the effects of its <a href="../bestiary3/creatureTypes.html#elemental-subtype" >elemental</a> power early as a free action.</p>
				<p>Sulis (or suli-jann) are minor offshoots of the jann that live among humans. They are tall and look like ordinary men and women but for their abnormal beauty and the occasional flash of elemental light in their eyes. Though physically superior to and more attractive than normal humans, some suli-jann remain unaware of their genie heritage until later in life, when contact with a full-blooded genie draws forth a portion of their elemental power.</p>
				<p>While all sulis can trace their lineage back to a janni ancestor, very few have an immediate janni parent. In most cases, this legacy lies fallow in the blood for generations, only to emerge decades or even centuries later. Those whose powers become apparent early on usually lead troubled lives as youths, as the question of a child's origins tears some families apart; few of these unfortunate sulis grow up knowing anything of the peace of a happy home.</p>
				<p>Sulis age at the same rate as humans and are physically identical to humans in terms of height and weight. During their youth, sulis tend to be slightly smaller than their fully human peers, but grow quickly to their full adult height upon reaching their teenage years. Sulis are impulsive and passionate by nature, and even those sulis who know nothing of their genie blood possess a measure of personal pride.</p>
				<h1 id="suli-characters">Suli Characters</h1>
				<p>Sulis are defined by class levels&mdash;they do not possess racial Hit Dice. Sulis have the following racial traits.</p>
				<p><b>+2 Strength, +2 Charisma, &ndash;2 Intelligence</b>: Sulis tend to be strong and charming, but slow-witted. </p>
				<p><b>Low-Light Vision</b>: Sulis can see twice as far as humans in dim light.</p>
				<p><b>Negotiator</b>: Sulis are keen negotiators, and gain a +2 racial bonus on <a href="../skills/diplomacy.html#diplomacy" >Diplomacy</a> and <a href="../skills/senseMotive.html#sense-motive" >Sense Motive</a> checks.</p>
				<p><b>Elemental Assault</b>: See above. </p>
				<p><b>Elemental Resistance</b>: Sulis have resistance to acid 5, cold 5, electricity 5, and fire 5.</p>
				<p><b>Languages</b>: Sulis begin play speaking Common and any one elemental language of their choice (Aquan, Auran, Ignan, or Terran). Sulis with high Intelligence scores can choose from among the following bonus languages: Aquan, Auran, Draconic, Ignan, and Terran. </p>
			</div>
</div>
            </body>
</html>