<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Contagion</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				<p id="contagion" class="stat-block-title"><b>Contagion</b></p>
				<p class="stat-block-1"><b>School</b> necromancy [evil]; <b>Level</b> cleric 3, druid 3, sorcerer/wizard 4</p>
				<p class="stat-block-1"><b>Casting Time</b> 1 standard action</p>
				<p class="stat-block-1"><b>Components</b> V, S</p>
				<p class="stat-block-1"><b>Range</b> touch</p>
				<p class="stat-block-1"><b>Target</b> living creature touched</p>
				<p class="stat-block-1"><b>Duration</b> instantaneous</p>
				<p class="stat-block-1"><b>Saving Throw</b> <a href="../combat.html#fortitude" >Fortitude</a> negates; <b><a href="../glossary.html#spell-resistance" >Spell Resistance</a></b> yes</p>
				<p>The subject contracts one of the following diseases: <a href="../glossary.html#blinding-sickness" >blinding sickness</a>, <a href="../glossary.html#bubonic-plague" >bubonic plague</a>, <a href="../glossary.html#cackle-fever" >cackle fever</a>, <a href="../glossary.html#filth-fever" >filth fever</a>, <a href="../glossary.html#leprosy" >leprosy</a>, <a href="../glossary.html#mindfire" >mindfire</a>, <a href="../glossary.html#red-ache" >red ache</a>, <a href="../glossary.html#shakes" >shakes</a>, or <a href="../glossary.html#slimy-doom" >slimy doom</a>. The disease is contracted immediately (the onset period does not apply). Use the disease's listed frequency and save DC to determine further effects. For more information see <a href="../glossary.html#diseases" >Diseases</a>. </p>
        </div>            </body>
</html>