<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Deeper Darkness</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				<p id="deeper-darkness" class="stat-block-title"><b>Deeper Darkness</b></p>
				<p class="stat-block-1"><b>School </b>evocation [darkness]; <b>Level </b>cleric 3</p>
				<p class="stat-block-1"><b>Duration </b>10 min./level (D)</p>
				<p>This spell functions as <i><a href="darkness.html#darkness" >darkness</a></i>, except that objects radiate darkness in a 60-foot radius and the light level is lowered by two steps. Bright light becomes dim light and normal light becomes darkness. Areas of dim light and darkness become supernaturally dark. This functions like darkness, but even creatures with <a href="../glossary.html#darkvision" >darkvision</a> cannot see within the spell's confines. </p>
				<p>This spell does not stack with itself. <i>Deeper darkness</i> can be used to counter or dispel any light spell of equal or lower spell level.</p>
        </div>            </body>
</html>