<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Destruction</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				<p id="destruction" class="stat-block-title"><b>Destruction</b></p>
	<p class="stat-block-1"><b>School </b>necromancy [death]; <b>Level</b> cleric 7</p>
	<p class="stat-block-1"><b>Casting Time</b> 1 standard action</p>
	<p class="stat-block-1"><b>Components</b> V, S, F (holy or unholy symbol costing 500 gp)</p>
	<p class="stat-block-1"><b>Range </b>close (25 ft. + 5 ft./2 levels)</p>
	<p class="stat-block-1"><b>Target</b> one creature</p>
	<p class="stat-block-1"><b>Duration</b> instantaneous</p>
	<p class="stat-block-1"><b>Saving Throw</b> <a href="../combat.html#fortitude" >Fortitude</a> partial; <b><a href="../glossary.html#spell-resistance" >Spell Resistance</a></b> yes</p>
				<p>This spell instantly delivers 10 points of damage per caster level. If the spell slays the target, it consumes the remains utterly in holy (or unholy) fire (but not its equipment or possessions). If the target's <a href="../combat.html#fortitude" >Fortitude</a> saving throw succeeds, it instead takes 10d6 points of damage. The only way to restore life to a character who has failed to save against this spell (and was slain) is to use <i><a href="trueResurrection.html#true-resurrection" >true resurrection</a></i>, a carefully worded <i><a href="wish.html#wish" >wish</a></i> spell followed by <i><a href="resurrection.html#resurrection" >resurrection</a></i>, or <i><a href="miracle.html#miracle" >miracle</a></i>.</p>
        </div>            </body>
</html>