<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Dispel Law</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				<p id="dispel-law" class="stat-block-title"><b>Dispel Law</b></p>
				<p class="stat-block-1"><b>School</b> abjuration [chaotic]; <b>Level</b> cleric 5</p>
				<p>This spell functions like <i><a href="dispelEvil.html#dispel-evil" >dispel evil</a></i>, except that you are surrounded by flickering, yellow chaotic energy, and the spell affects lawful creatures and spells rather than evil ones.</p>
        </div>            </body>
</html>