<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Ghoul touch</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				<p id="ghoul-touch" class="stat-block-title"><b>Ghoul touch</b></p>
	<p class="stat-block-1"><b>School</b> necromancy; <b>Level</b> sorcerer/wizard 2</p>
				<p class="stat-block-1"><b>Casting Time</b> 1 standard action</p>
				<p class="stat-block-1"><b>Components</b> V, S, M (cloth from a ghoul or earth from a ghoul's lair)</p>
				<p class="stat-block-1"><b>Range</b> touch</p>
				<p class="stat-block-1"><b>Target</b> living humanoid touched</p>
				<p class="stat-block-1"><b>Duration</b> 1d6+2 rounds</p>
				<p class="stat-block-1"><b>Saving Throw</b> <a href="../combat.html#fortitude" >Fortitude</a> negates; <b><a href="../glossary.html#spell-resistance" >Spell Resistance</a></b> yes</p>
				<p>Imbuing you with negative energy, this spell allows you to paralyze a single living humanoid for the duration of the spell with a successful melee touch attack.</p>
				<p>A <a href="../glossary.html#paralyzed" >paralyzed</a> subject exudes a carrion stench that causes all living creatures (except you) in a 10-foot-radius spread to become <a href="../glossary.html#sickened" >sickened</a> (<a href="../combat.html#fortitude" >Fortitude</a> negates). A <i><a href="neutralizePoison.html#neutralize-poison" >neutralize poison</a> </i>spell removes the effect from a <a href="../glossary.html#sickened" >sickened</a> creature, and creatures immune to poison are unaffected by the stench. This is a poison effect.</p>
        </div>            </body>
</html>