<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Persistent Image</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				<p id="persistent-image" class="stat-block-title"><b>Persistent Image</b></p>
				<p class="stat-block-1"><b>School</b> illusion (figment); <b>Level</b> bard 5, sorcerer/wizard 5</p>
				<p class="stat-block-1"><b>Duration</b> 1 min./level (D)</p>
				<p>This spell functions like <i><a href="silentImage.html#silent-image" >silent image</a>, </i>except that the figment includes visual, auditory, olfactory, and thermal components, and the figment follows a script determined by you. The figment follows that script without your having to concentrate on it. The illusion can include intelligible speech if you wish. </p>
        </div>            </body>
</html>