<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Shades</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				<p id="shades" class="stat-block-title"><b>Shades</b></p>
				<p class="stat-block-1"><b>School</b> illusion (shadow); <b>Level</b> sorcerer/wizard 9</p>
				<p>This spell functions like <i><a href="shadowConjuration.html#shadow-conjuration" >shadow conjuration</a>, </i>except that it mimics conjuration spells of 8th level or lower. The illusory conjurations created deal four-fifths (80%) damage to nonbelievers, and nondamaging effects are 80% likely to work against nonbelievers.</p>
        </div>            </body>
</html>