<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Animal Companions</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				
				<h1 id="appendix-7:-animal-companions">Animal Companions</h1>
				<p>The following list indexes all additional animal companions.</p>
				<h2 id="animal-companions">Animal Companions</h2>
				
				<p><a href="dinosaur.html#dinosaur,-allosaurus">Dinosaur, Allosaurus</a></p>
				<p><a href="dinosaur.html#dinosaur,-compsognathus">Dinosaur, Compsognathus</a><p>
				<p><a href="dinosaur.html#dinosaur,-parasaurolophus">Dinosaur, Parasaurolophus</a></p>
				<p><a href="hippopotamus.html#hippopotamus">Hippopotamus</a></p>				
				<p><a href="megafauna.html#megafauna,-arsinoitherium">Megafauna, Arsinotherium</a></p>
				<p><a href="megafauna.html#megafauna,-megaloceros">Megafauna, Megaloceros</a></p>				
				<p><a href="megafauna.html#megafauna,-megatherium">Megafauna, Megatherium</a></p>
				<p><a href="megafauna.html#megafauna,-gylptodon">Megafauna, Glyptodon</a></p>
				<p><a href="primate.html#primate,-baboon">Primate, Baboon</a></p>				
				<p><a href="ray.html#ray,-manta">Ray, Manta Ray</a></p>
				<p><a href="ray.html#ray,-stingray">Ray, Stingray</a></p>
				<p><a href="turtle.html#turtle,-snapping">Snapping Turtle</a></p>
        </div>            </body>
</html>