<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Hound of Tindalos</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
			
			
			<div>
				<h1 id="hound-of-tindalos" class="monster-header">Hound of Tindalos</h1>
				<p>This gaunt, long-limbed quadruped has huge, soulless eyes and a toothy maw. The lean creature moves with a predatory grace. </p>
				<p class="stat-block-title">Hound of Tindalos	CR 7</p>
				<p class="stat-block-xp"><b>XP 3,200</b></p>
				<p class="stat-block-1">NE Medium <a href="creatureTypes.html#outsider" >outsider</a> (<a href="creatureTypes.html#evil-subtype" >evil</a>, <a href="creatureTypes.html#extraplanar-subtype" >extraplanar</a>)</p>
				<p class="stat-block-1"><b>Init</b> +9; <b>Senses</b> darkvision 120 ft.; <a href="../skills/perception.html#perception" >Perception</a> +18</p>
				<p class="stat-block-breaker">Defense</p>
				<p class="stat-block-1"><b>AC</b> 20, touch 15, flat-footed 15 (+5 Dex, +5 natural)</p>
				<p class="stat-block-1"><b>hp</b> 85 (10d10+30)</p>
				<p class="stat-block-1"><b>Fort</b> +10, <b>Ref</b> +12, <b>Will</b> +8</p>
				<p class="stat-block-1"><b>DR</b> 10/magic; <b>Immune</b> mind-affecting effects, <a href="universalMonsterRules.html#poison-(ex-or-su)" >poison</a></p>
				<p class="stat-block-breaker">Offense</p>
				<p class="stat-block-1"><b>Speed</b> 40 ft.</p>
				<p class="stat-block-1"><b>Melee</b> bite +15 (2d6+3), 2 claws +15 (1d8+3)</p>
				<p class="stat-block-1"><b>Special Attacks</b> ripping <a href="universalMonsterRules.html#gaze" >gaze</a></p>
				<p class="stat-block-1"><b>Spell-Like Abilities</b> (CL 10th; concentration +13)</p>
				<p class="stat-block-2">Constant&mdash;<i><a href="../spells/airWalk.html#air-walk" >air walk</a></i></p>
				<p class="stat-block-2">At will&mdash;<i><a href="../spells/fogCloud.html" >fog cloud</a></i>, <i><a href="../spells/invisibility.html#invisibility" >invisibility</a></i>, <i><a href="../spells/locateCreature.html#locate-creature" >locate creature</a></i></p>
				<p class="stat-block-2">3/day&mdash;<i><a href="../spells/dimensionalAnchor.html#dimensional-anchor" >dimensional anchor</a></i>, <i><a href="../spells/discernLocation.html#discern-location" >discern location</a></i>, <i><a href="../spells/scrying.html#scrying-greater" >greater scrying</a></i> (DC 20), <i><a href="../spells/haste.html#haste" >haste</a></i>, <i><a href="../spells/slow.html#slow" >slow</a></i> (DC 16)</p>
				<p class="stat-block-breaker">Statistics</p>
				<p class="stat-block-1"><b>Str</b> 17, <b>Dex</b> 21, <b>Con</b> 16, <b>Int</b> 16, <b>Wis</b> 21, <b>Cha</b> 16</p>
				<p class="stat-block-1"><b>Base Atk</b> +10; <b>CMB</b> +13; <b>CMD</b> 28 (32 vs. trip)</p>
				<p class="stat-block-1"><b>Feats</b> <a href="../feats.html#blind-fight" >Blind-Fight</a>, <a href="../feats.html#combat-reflexes" >Combat Reflexes</a>, <a href="../feats.html#improved-initiative" >Improved Initiative</a>, <a href="../feats.html#vital-strike" >Vital Strike</a>, <a href="../feats.html#weapon-finesse" >Weapon Finesse</a></p>
				<p class="stat-block-1"><b>Skills</b> <a href="../skills/acrobatics.html#acrobatics" >Acrobatics</a> +18 (+22 jump), <a href="../skills/intimidate.html#intimidate" >Intimidate</a> +16, <a href="../skills/knowledge.html#knowledge" >Knowledge</a> (arcana) +16, <a href="../skills/knowledge.html#knowledge" >Knowledge</a> (geography) +13, <a href="../skills/knowledge.html#knowledge" >Knowledge</a> (planes) +16, <a href="../skills/perception.html#perception" >Perception</a> +18, <a href="../skills/senseMotive.html#sense-motive" >Sense Motive</a> +18, <a href="../skills/stealth.html#stealth" >Stealth</a> +18, <a href="../skills/survival.html#survival" >Survival</a> +18</p>
				<p class="stat-block-1"><b>Languages</b> Aklo</p>
				<p class="stat-block-1"><b>SQ</b> angled entry, otherworldly mind</p>
				<p class="stat-block-breaker">Ecology</p>
				<p class="stat-block-1"><b>Environment</b> any</p>
				<p class="stat-block-1"><b>Organization</b> solitary or pack (2&ndash;12)</p>
				<p class="stat-block-1"><b>Treasure</b> none</p>
				<p class="stat-block-breaker">Special Abilities</p>
				<p class="stat-block-1"><b>Angled Entry (Su)</b> Hounds of Tindalos move through the dimensions in ways other creatures cannot comprehend. They may use <i><a href="../spells/teleport.html#teleport-greater" >greater teleport</a></i> (self only) once per round as a swift action and <i><a href="../spells/planeShift.html#plane-shift" >plane shift</a></i> (self only) 3/day as a standard action (caster level 10th). A hound of Tindalos can use these powers anywhere, but its destination point must be adjacent to a fixed angle or corner in the physical environment, such as a wall, floor, or ceiling (as determined by the GM); temporary angles created by cloth, flesh, or small items are not sufficient. It cannot use these abilities to enter curved architecture or open outdoor environments.</p>
				<p class="stat-block-1"><b>Otherworldly Mind (Ex)</b> Any non-outsider attempting to read the thoughts of a hound of Tindalos or communicate with it telepathically takes 5d6 points of nonlethal damage and must make a DC 18 Will save or become confused for 2d4 rounds. This is a mind-affecting effect. The save DC is Charisma-based.</p>
				<p class="stat-block-1"><b>Ripping <a href="universalMonsterRules.html#gaze" >Gaze</a> (Su)</b> 5d6 slashing damage, 30 feet, Fortitude DC 18 negates. A creature that succeeds on its save is immune to that hound's <a href="universalMonsterRules.html#gaze" >gaze</a> for 24 hours. Damage caused by a ripping <a href="universalMonsterRules.html#gaze" >gaze</a> can be defeated by <a href="universalMonsterRules.html#damage-reduction-(ex-or-su)" >damage reduction</a>, but it bypasses DR/magic and slashing. The save DC is Charisma-based.</p>
				
				<p>Hounds of Tindalos are otherworldly predators from beyond the bounds of known reality, usually appearing only when summoned by reckless spellcasters. Little is known about their nature outside of blood-spattered notes and deranged writings of the nearly insane survivors of their attacks. Although possessed of great cunning and cruel intellect, the hounds show no evidence of understanding or communicating with mortals. They enter the physical world on their own in pursuit of those who have trodden too much the netherways beyond time and reality&mdash;time travelers (be it physical travel or simply divinatory glimpses forward or backward in time) and creatures that teleport without regard to how this movement impacts subtle magical currents in the multiverse particularly draw their interest.</p>
			</div>
        </div>            </body>
</html>