<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Monster Cohorts</title>
        <link href="../include/path.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body >
        <div id="body">
				<h1 id="appendix-6:-monster-cohorts">Monster Cohorts</h1>
				<p>The <a href="../feats.html#leadership" >Leadership</a> allows a character to gain a loyal cohort. With the GM's approval, this cohort can be a similarly aligned monster. Monsters on the following list all work well as cohorts (be they assassins, bodyguards, mounts, etc.)&mdash;their effective cohort “level” corresponds to the level available to the PC as afforded by his <a href="../feats.html#leadership" >Leadership</a> score. Use these monsters as guidelines when determining cohort levels for other monsters.</p>
				<p>For more information on monster cohorts, reference the main <a href="../monsters/monsterCohorts.html">monster cohort entry</a>.</p>
				<div class="table"><table><caption>Table: Monster Cohorts</caption>
				<thead><tr><th>Monster</th><th>Level</th></tr></thead>
				<tr class="odd"><td><a href="aranea.html">Aranea</a></td><td>8th</td></tr>
				<tr class="even"><td><a href="agathion.html#agathion,-avoral">Avoral</a></td><td>15th</td></tr>
				<tr class="odd"><td><a href="axiomite.html">Axiomite</a></td><td>14th</td></tr>
				<tr class="even"><td><a href="azer.html">Azer</a></td><td>5th</td></tr>
				<tr class="odd"><td><a href="blinkdog.html">Blink dog</a></td><td>4th</td></tr>
				<tr class="even"><td><a href="dragonhorse.html">Dragon horse</a></td><td>16th</td></tr>
				<tr class="odd"><td><a href="howler.html">Howler</a></td><td>7th</td></tr>
				<tr class="even"><td><a href="agathion.html#agathion,-leonal">Leonal</a></td><td>17th</td></tr>
				<tr class="odd"><td><a href="leucrotta.html">Leucrotta</a></td><td>9th</td></tr>
				<tr class="even"><td><a href="redcap.html">Redcap</a></td><td>10th</td></tr></table></div>
        </div>            </body>
</html>