{% extends "creatures/default.html" %}

{% block body %}
   <h2>Personalities</h2>
   <ul>
   </ul>

   <h2>Creatures</h2>
   <ul>
        <li><a href="{% url prd-template-path "monsters/bugbear.html#bugbear" %}">Bugbear</a></li>
        <li><a href="{% url prd-template-path "monsters/cat.html#cat-leopard" %}">Cat, Leopard</a></li>
        <li><a href="{% url prd-template-path "monsters/elemental.html#elemental-air" %}">Elemental, Air</a></li>
        <li><a href="{% url prd-template-path "monsters/elemental.html#elemental-earth" %}">Elemental, Earth</a></li>
        <li><a href="{% url prd-template-path "monsters/elemental.html#elemental-fire" %}">Elemental, Fire</a></li>
        <li><a href="{% url prd-template-path "monsters/elemental.html#elemental-water" %}">Elemental, Water</a></li>
        <li><a href="{% url prd-template-path "monsters/ettin.html#ettin" %}">Ettin</a></li>
        <li><a href="{% url prd-template-path "monsters/gargoyle.html#gargoyle" %}">Gargoyle</a></li>
        <li><a href="{% url prd-template-path "monsters/gelatinousCube.html#gelatinous-cube" %}">Gelatinous Cube</a></li>
        <li><a href="{% url prd-template-path "monsters/ghoul.html#ghoul" %}">Ghoul</a></li>
        <li><a href="{% url prd-template-path "monsters/giant.html#giant-hill" %}">Giant Hill</a></li>
        <li><a href="{% url prd-template-path "monsters/gnoll.html#gnoll" %}">Gnoll</a></li>
        <li><a href="{% url prd-template-path "monsters/harpy.html#harpy" %}">Harpy</a></li>
        <li><a href="{% url prd-template-path "monsters/hobgoblin.html#hobgoblin" %}">Hobgoblin</a></li>
        <li><a href="{% url prd-template-path "monsters/hydra.html#hydra" %}">Hydra</a></li>
        <li><a href="{% url prd-template-path "monsters/lycanthrope.html#lycanthrope-werewolf" %}">Lycanthrope, Werewolf</a></li>
        <li><a href="{% url prd-template-path "monsters/minotaur.html#minotaur" %}">Minotaur</a></li>
        <li><a href="{% url prd-template-path "monsters/ogre.html#ogre" %}">Ogre</a></li>
        <li><a href="{% url prd-template-path "monsters/owlbear.html#owlbear" %}">Owlbear</a></li>
        <li><a href="{% url prd-template-path "monsters/rat.html#rat-swarm" %}">Rat, Swarm</a></li>
        <li><a href="{% url prd-template-path "monsters/salamander.html#salamander" %}">Salamander</a></li>
        <li><a href="{% url prd-template-path "monsters/shadow.html#shadow" %}">Shadow</a></li>
        <li><a href="{% url prd-template-path "monsters/skeleton.html#skeleton" %}">Skeleton</a></li>
        <li><a href="{% url prd-template-path "monsters/snake.html#snake-venomous" %}">Snake, Venomous</a></li>
        <li><a href="{% url prd-template-path "monsters/stirge.html#stirge" %}">Stirge</a></li>
        <li><a href="{% url prd-template-path "monsters/troll.html#troll" %}">Troll</a></li>
        <li><a href="{% url prd-template-path "monsters/vargouille.html#vargouille" %}">Vargouille</a></li>
        <li><a href="{% url prd-template-path "monsters/zombie.html#zombie" %}">Zombie</a></li>
   </ul>

   <h2>Personalities</h2>
   <ul>
        <li><a href="{% url "http://localhost:8000/prd/mastery/nPCGallery/heretics.html#cultist" %}">Cultist, Cleric 3</a></li>
        <li><a href="{% url %}">Cultist, Cleric 3</a></li>
   </ul>

{% endblock %}







